
.none {
	display: none;
}
.text-bold {
	font-weight: bold;
}
.mt-40 {
	margin-top: 40px;
}
.trim-left {
	padding-left: 0 !important;
}
.trim-right {
	padding-right: 0 !important;
}
.white-bg {
	background: $white;
}
.hidden-item {
	visibility: hidden;
}
.tiles-area {
	padding: 1.5em 6.5em;
	background: $light_white;
	&.white-bg {
		background: $white;
	}
	&.gray-bg {
		background: $container_bg;
	}
	.view {
		width: 100%;
		height: auto;
		float: left;
		overflow: hidden;
		position: relative;
		text-align: center;
		cursor: default;
		margin-bottom: 30px;
		@include box-shadow(0, 0, 6px, 3px, rgba(0, 0, 0, 0.20));
		.mask,
		.content {
			width: 100%;
			height: 100%;
			position: absolute;
			overflow: hidden;
			top: 0;
			left: 0;
			padding: 0.5em;
		}
		img {
			display: block;
			position: relative;	
			width: 100%;
		}
		.mask-head {
			color: $white;
			text-align: center;
			position: relative;
			font-size: 3.5em;
			padding: 10px;
			margin: 17% 0 0 0;
			text-rendering: optimizeSpeed;
		}
		p {
			font-size: 1.2em;
			position: relative;
			color: $dark_gray_menu;
			padding: 2.2em 0 0.8em 0;
			text-align: center;
			text-rendering: optimizeSpeed;
		}
		.remind-me {
			color: $dark_gray_menu;
			font-size: 0.6em;
		}
		.points-btm {
			background: rgb(232,84,36); /* Old browsers */
			background: -moz-linear-gradient(left,  rgba(232,84,36,1) 0%, rgba(176,31,88,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left,  rgba(232,84,36,1) 0%,rgba(176,31,88,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right,  rgba(232,84,36,1) 0%,rgba(176,31,88,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			color: $white;
			font-size: 1.5em;
			position: absolute;
			top: 0;
			right: 0;
			min-width: 100px;
			padding: 0.5em;
			.pts-lbl {
				text-transform: uppercase;
				font-size: 0.6em;
			}
		}
		.description {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			color: $white;
			z-index: 8;
			padding: 10px;
			background: rgba(0,0,0,0.3);
			h2 {
				font-size: 2.2em;
				margin-bottom: 0;
			}
			.tile-icon {
				font-size: 3em;
				line-height: 0;
			}
		}
	}
	//Big Box 
	.most-big-box {
		.points-btm {
			font-size: 2em;
		}
	}
	//Medium Size Box
	.view-second-box {
		.mask-head {
			font-size: 2.5em;
		}
		.description {
			h2 {
				font-size: 2.5em;
			}
		}
	}
	//Small Box
	.view-third-box {
		.mask-head {
			font-size: 1.6em;
		}
		.description {
			h2 {
				font-size: 1.3em;
				margin: 0;
			}
		}
	}
	.view-third-box {
		.mask-head, .description {
			margin: 13% 0 0 0;
		}
	}
	.view-second-box {
		.description {
			margin: 13% 0 0 0;
		}
		.mask-head {
			margin: 2% 0 0 0;
		}
	}


}
.view-first {
	img {
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}
	.mask {
		-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		opacity: 0.7;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
		&:hover, &.hovered {
			background: rgba(255,255,255, 0.8);
			h2 {
				color: #004783;
			}
		}
	}
	.mask-head {
		-webkit-transform: translateY(-100px);
		-moz-transform: translateY(-100px);
		-o-transform: translateY(-100px);
		-ms-transform: translateY(-100px);
		transform: translateY(-100px);
		-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		opacity: 0;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	.chat-icon {
		font-size: 2.6em;
		color: $purple;
	}
	.button, .chat-icon {
	   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	   filter: alpha(opacity=0);
	   opacity: 0;
	   -webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
	   -o-transition: all 0.2s ease-in-out;
	   -ms-transition: all 0.2s ease-in-out;
	   transition: all 0.2s ease-in-out;
	}
	
	&.most-big-box {
		.button {
			opacity: 1;
		}
		.button-go {
			margin: 0;
			padding: 1em;
		}
	}
}
.view-second-box, .view-third-box {
	p {
		-webkit-transform: translateY(100px);
		-moz-transform: translateY(100px);
		-o-transform: translateY(100px);
		-ms-transform: translateY(100px);
		transform: translateY(100px);
		-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		opacity: 0;
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}
	&:hover {
		img {
			-webkit-transform: scale(1.1,1.1);
			-moz-transform: scale(1.1,1.1);
			-o-transform: scale(1.1,1.1);
			-ms-transform: scale(1.1,1.1);
			transform: scale(1.1,1.1);
			&.app-store {
				transform: none;
			}
		}
		.mask {
			-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
			filter: alpha(opacity=100);
			opacity: 1;
		}
		.mask-head,
		p,
		.button, .chat-icon {
			-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
			filter: alpha(opacity=100);
			opacity: 1;
			-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			-o-transform: translateY(0px);
			-ms-transform: translateY(0px);
			transform: translateY(0px);
		}
		p {
			-webkit-transition-delay: 0.1s;
			-moz-transition-delay: 0.1s;
			-o-transition-delay: 0.1s;
			-ms-transition-delay: 0.1s;
			transition-delay: 0.1s;
		}
		.button, .chat-icon {
			-webkit-transition-delay: 0.2s;
			-moz-transition-delay: 0.2s;
			-o-transition-delay: 0.2s;
			-ms-transition-delay: 0.2s;
			transition-delay: 0.2s;
		}
	}
}
//Slide area
.slide-display {
	.indicate {
		color: $light_blue;
		font-size: 4.2em;
		&.completed {
			color: $medium_gray;
		}
	}
	.label-details {
		h3 {
			font-size: 1.3em;
			margin: 10px 0;
		}
		p {
			font-size: 0.8em;
		}
	}
}
.button-wrapper {
	text-align: right;
	.left {
		float: left;
	}
}
.health-assess-info {
	&.remind-wrapper {
		.radio, .checkbox {
			 label {
				font-weight: bold;
			}
		}
		label {
			font-weight: bold;
		}
	}
}
.scrollable-area {
	position: relative;
    height: 435px;
    padding: 1.5em;
    background: $white;
	@include box-shadow(0, 0, 6px, 3px, rgba(0, 0, 0, 0.20));
	&.small-area {
		height: 129px;
	}
}
.loading-overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: $white;
	z-index: 99;
}
.sk-cube-grid {
	width: 40px;
	height: 40px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -20px;
	margin-top: -20px;
	.sk-cube {
		width: 33%;
		height: 33%;
		float: left;
		-webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
				animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
	}
	.sk-cube1 {
	  -webkit-animation-delay: 0.2s;
			  animation-delay: 0.2s; 
			  background-color: $green_color;
	}
	.sk-cube2 {
	  -webkit-animation-delay: 0.3s;
			  animation-delay: 0.3s; 
			  background-color: $yellow;
	}
	.sk-cube3 {
	  -webkit-animation-delay: 0.4s;
			  animation-delay: 0.4s; 
			  background-color: $red;
	}
	.sk-cube4 {
	  -webkit-animation-delay: 0.1s;
			  animation-delay: 0.1s; 
			background-color: $yellow;
	}
	.sk-cube5 {
	  -webkit-animation-delay: 0.2s;
			  animation-delay: 0.2s; 
			  background-color: $light_gray_bg;
	}
	.sk-cube6 {
	  -webkit-animation-delay: 0.3s;
			  animation-delay: 0.3s; 
			background-color: $yellow;
	}
	.sk-cube7 {
	  -webkit-animation-delay: 0s;
			  animation-delay: 0s; 
			background-color: $red;
	}
	.sk-cube8 {
	  -webkit-animation-delay: 0.1s;
			  animation-delay: 0.1s; 
			  background-color: $yellow;
	}
	.sk-cube9 {
	  -webkit-animation-delay: 0.2s;
			  animation-delay: 0.2s;
			  background-color: $green_color;
	}
}
.health-steps {
	position: relative;
	background: $dark_blue;
	margin: 39px 0 0 0;
	padding: 1em;
	text-align: center;
	color: $white;
	width: 80%;
	&:after, &:before {
		left: 100%;
		top: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	&:after {
		border-color: rgba(136, 183, 213, 0);
		border-left-color: $dark_blue;
		border-width: 21px;
		margin-top: -21px;
	}
}
.points-count-top {
	.value {
		color: $dark_blue;
		font-size: 2em;
		font-weight: bold;
	}
	.label-txt {
		font-size: 0.8em;
		color: $light_gray;
	}	
}
.next-recommendation {
	background: rgba(255, 255, 255, 0.8);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 2em;
	text-align: left;
	line-height: 22px;
	.health-assess-info {
		.header-tile {
			font-size: 2em;
			margin-bottom: 0.5em;
			font-weight: bold;
			color: $dark_blue;
			text-align: center;
		}
		.question {
			font-size: 1.3em;
			font-weight: bold;
			color: $dark_gray;
		}
		.radio, .remind-ques {
			font-size: 1.3em;
			&.first-item {
				margin-top: 3em;
			}
		}
	}
	.ha-icon {
		font-size: 3em;
		color: $dark_blue;
	}
}
.connect-device {
    font-size: 1.5em;
    margin: 15px 0;
}

.article {
	padding: 0.5em;
	color: $dark_gray;
	background: $white;
	border-bottom: 4px solid $purple;
	@include box-shadow(0, 6px, 6px, 0px, rgba(0, 0, 0, 0.25));
	h3 {
		color: $dark_gray;
		font-weight: bold;
		font-size: 1.2em;
		margin: 0.5em 0;
	}
	p {
		line-height: 22px;
	}
}

//Interests Buttons
.interest-1, .interest-2, .interest-3, .interest-4, .interest-5 {
	.con_down {
		color: $white;
	}
}
.interest-1 {
	.con_down {
		background: $color_matisse_approx;
		background: linear-gradient(to bottom, $color_matisse_approx 0, $color_curious_blue_approx 50%, $color_mariner_approx 51%, $color_jordy_blue_approx 100%);
		filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_matisse_approx', endcolorstr='$color_jordy_blue_approx',gradienttype=0 );
	}
	.times_abs {
		background: $color_matisse_approx;
		background: linear-gradient(to bottom, $color_matisse_approx 0, $color_curious_blue_approx 50%, $color_mariner_approx 51%, $color_jordy_blue_approx 100%);
		filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_matisse_approx', endcolorstr='$color_jordy_blue_approx',gradienttype=0 );
	}
}
.interest-2 {
	.con_down {
		background: $color_oyster_pink_approx;
		background: linear-gradient(to bottom,  $color_cardinal_approx, $color_sea_pink_approx);
		filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_oyster_pink_approx', endcolorstr='$color_sea_pink_approx',gradienttype=0 );
	}
	.times_abs {
		background: $color_oyster_pink_approx;
		background: linear-gradient(to bottom, $color_cardinal_approx, $color_sea_pink_approx);
		filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_oyster_pink_approx', endcolorstr='$color_sea_pink_approx',gradienttype=0 );
	}
}
.interest-3 {
	.con_down {
		background: $color_apricot_peach_approx;
		background: linear-gradient(to bottom, $color_apricot_peach_approx 0, $color_crusta_approx 50%, $color_trinidad_approx 51%, $color_tan_hide_approx 100%);
		filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_apricot_peach_approx', endcolorstr='$color_tan_hide_approx',gradienttype=0 );
	}
	.times_abs {
		background: $color_apricot_peach_approx;
		background: linear-gradient(to bottom, $color_apricot_peach_approx 0, $color_crusta_approx 50%, $color_trinidad_approx 51%, $color_tan_hide_approx 100%);
		filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_apricot_peach_approx', endcolorstr='$color_tan_hide_approx',gradienttype=0 );
	}
}
.interest-4 {
	.con_down {
		background: $color_celery_approx;
		background: linear-gradient(to bottom, $color_celery_approx 0, $color_sushi_approx 50%, $color_limeade_approx 51%, $color_atlantis_approx 100%);
		filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_celery_approx', endcolorstr='$color_atlantis_approx',gradienttype=0 );
		color: $white;
	}
	.times_abs {
		background: $color_celery_approx;
		background: linear-gradient(to bottom, $color_celery_approx 0, $color_sushi_approx 50%, $color_limeade_approx 51%, $color_atlantis_approx 100%);
		filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_celery_approx', endcolorstr='$color_atlantis_approx',gradienttype=0 );
	}
}
.interest-5 {
	.con_down {
		background: $color_sail_approx;
		background: linear-gradient(to bottom, $color_sail_approx 0, $color_regent_st_blue_approx 10%, $color_jordy_blue_approx 25%, $color_jordy_blue_approx 37%, $color_jordy_blue_approx 50%, $color_cornflower_blue_approx 51%, $color_blizzard_blue_approx 83%, $color_french_pass_approx 100%);
		filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_sail_approx', endcolorstr='$color_french_pass_approx',gradienttype=0 );
	}
	.times_abs {
		background: $color_sail_approx;
		background: linear-gradient(to bottom, $color_sail_approx 0, $color_regent_st_blue_approx 10%, $color_jordy_blue_approx 25%, $color_jordy_blue_approx 37%, $color_jordy_blue_approx 50%, $color_cornflower_blue_approx 51%, $color_blizzard_blue_approx 83%, $color_french_pass_approx 100%);
		filter: progid:dximagetransform.microsoft.gradient(startcolorstr='$color_sail_approx', endcolorstr='$color_french_pass_approx',gradienttype=0 );
	}
}

.due-date {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 20px;
    background: #FFEB3B;
    color: #7b7b7b;
}

//Keyframes 
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

@keyframes width {
  0%, 100% {
    transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
  }
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

