.modal-dialog {
	.modal-header {
		background: $light_blue;
		color: $white;	
		font-size: 1.4em;
	}
	.schedule-box {
		@include box-shadow(0, 0, 6px, 3px, rgba(0, 0, 0, 0.10));
		border: 1px solid $light_gray_border;
		.schedule-header {
			background: $green;
			padding: 0.5em;
			font-size: 1.2em;
			color: $white;
			&.second-app {
				background: #ff9800;
			}
		}
		.schedule-content {
			padding: 0.5em;
			border-bottom: 1px solid $light_gray_border;
			p {
				font-size: 0.9em;
				margin-top: 15px;
				.days {
					float: left;
				}
				.time {
					float: right;
				}
			}
		}
	}
}