<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>LiveOn Redesign</title>

    <meta name="description" content="">

    <!-- Latest compiled and minified CSS -->
    <link href="../../assets/vendors/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../../assets/vendors/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Only Dashboard -->
    <link href="css/styles.css" rel="stylesheet" />

    <!-- Optional theme -->
    <link href="../../assets/vendors/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="../../js/vendor/notification/modernizr.custom.js"></script>

</head>

<body class="cbp-spmenu-push">

    <div class="layout-wrapper">

        <header class="header">
            <div class="row">
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="hamburger" id="showMenus">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="col-xs-9 trim-left">
                            <div class="logo">
                                <a href="../dashboard">
                                    <img src="../../assets/images/Onlife_HealthTrust.png"
                                         alt="HealthTrust logo"
                                         class="img-responsive" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <ul class="top-nav">
                        <li>
                            <a href="../connect-device" class="top-nav-icon">
                                <span class="icon-onlife_devices"></span>
                            </a>
                        </li>
                        <li>
                            <a href="../family-friends" class="top-nav-icon">
                                <span class="icon-onlife_friends"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="top-nav-icon">
                                <span class="icon-onlife_messages"></span>
                                <span class="notification-count">1</span>
                            </a>
                        </li>
                        <li class="login-candet">
                            <a class="dropdown-toggle user-login" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="../../assets/images/Onlife_Mary_Dp.png" alt="" class="img-responsive" />
                            </a>
                            <div class="dropdown-menu">
                                <ul>
                                    <li>
                                        <a class="dropdown-item" href="../dashboard">First Login</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="../second-login">Completed HA</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Log out</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </header>
        <!-- Navigation Starts -->
        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
            <ul>
                <li>
                    <a href="../view-profile">
                        <span class="menu-icon ico-onlife_avatar"></span>
                        <span class="menu-label">My Profile</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-icon icon-onlife_points"></span>
                        <span class="menu-label">My Points</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-icon icon-onlife_devices"></span>
                        <span class="menu-label">Devices</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-icon icon-onlife_goals"></span>
                        <span class="menu-label">Goals</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-icon icon-onlife_courses"></span>
                        <span class="menu-label">Courses</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-icon icon-onlife_trackers"></span>
                        <span class="menu-label">Trackers</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-icon icon-onlife_financial"></span>
                        <span class="menu-label">Financial</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-icon icon-onlife_reports"></span>
                        <span class="menu-label">Reports</span>
                    </a>
                </li>
            </ul>
        </nav><!-- Navigation Ends -->

        <section class="tiles-area white-bg">

            <div class="row">
                <div class="col-sm-12">
                    <div class="view-header">
                        <div class="container">
                            <h1 class="main-heading">Challenges</h1>
                        </div>
                    </div>
                    <div class="content-area">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">


                                    <section class="slider challenges">
                                        <div class="flexslider">
                                            <ul class="slides">
                                                <li>
                                                    <div class="challenges-banner">
                                                        <img src="../../assets/images/challenges/Onlife_Challenges_Banner.jpg" alt="" class="img-responsive" />
                                                        <div class="challenge-wrapper">
                                                            <div class="col-xs-10 col-xs-offset-1">
                                                                <div class="challenge-content">
                                                                    <h4 class="small-header text-uppercase">January-March Challenge</h4>
                                                                    <h1 class="main-head">300 miles in 60 days</h1>
                                                                    <h2 class="medium-size-header">Cover 300 miles in 60 days</h2>
                                                                </div>
                                                                <div class="bottom-content">
                                                                    <div class="row">
                                                                        <div class="col-sm-9">
                                                                            <p>
                                                                                This challenge is a moderate to high intensity physical activity challenge which requires you to cover about 5 miles a day for nearly three months.
                                                                                We will calculate the cumulative distance you covered in 60 days or less using the connected devices or apps (Click here to connect now) and you will instantly be rewarded with 50 Points once you reach the 300 miles mark.
                                                                            </p>
                                                                        </div>
                                                                        <div class="col-sm-3">
                                                                            <div class="form-group">
                                                                                <button type="button" class="button button--large button--block text-center button--default">Join Challenge</button>
                                                                            </div>
                                                                            <p class="text-center purple-color"><span class="text-bold text-uppercase">Enroll by: </span>01/01/2018</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a href="../point-matrix" class="points-btm">
                                                            100 <span class="pts-lbl">pts</span>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="challenges-banner">
                                                        <img src="../../assets/images/challenges/Onlife_Challenges_Banner.jpg" alt="" class="img-responsive" />
                                                        <div class="challenge-wrapper">
                                                            <div class="col-xs-10 col-xs-offset-1">
                                                                <div class="challenge-content">
                                                                    <h4 class="small-header text-uppercase">January-March Challenge</h4>
                                                                    <h1 class="main-head">300 miles in 60 days</h1>
                                                                    <h2 class="medium-size-header">Cover 300 miles in 60 days</h2>
                                                                </div>
                                                                <div class="bottom-content">
                                                                    <div class="row">
                                                                        <div class="col-sm-9">
                                                                            <p>
                                                                                This challenge is a moderate to high intensity physical activity challenge which requires you to cover about 5 miles a day for nearly three months.
                                                                                We will calculate the cumulative distance you covered in 60 days or less using the connected devices or apps (Click here to connect now) and you will instantly be rewarded with 50 Points once you reach the 300 miles mark.
                                                                            </p>
                                                                        </div>
                                                                        <div class="col-sm-3">
                                                                            <div class="form-group">
                                                                                <button type="button" class="button button--large button--block text-center button--default">Join Challenge</button>
                                                                            </div>
                                                                            <p class="text-center purple-color"><span class="text-bold text-uppercase">Enroll by: </span>01/01/2018</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a href="../point-matrix" class="points-btm">
                                                            100 <span class="pts-lbl">pts</span>
                                                        </a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="challenges-banner">
                                                        <img src="../../assets/images/challenges/Onlife_Challenges_Banner.jpg" alt="" class="img-responsive" />
                                                        <div class="challenge-wrapper">
                                                            <div class="col-xs-10 col-xs-offset-1">
                                                                <div class="challenge-content">
                                                                    <h4 class="small-header text-uppercase">January-March Challenge</h4>
                                                                    <h1 class="main-head">300 miles in 60 days</h1>
                                                                    <h2 class="medium-size-header">Cover 300 miles in 60 days</h2>
                                                                </div>
                                                                <div class="bottom-content">
                                                                    <div class="row">
                                                                        <div class="col-sm-9">
                                                                            <p>
                                                                                This challenge is a moderate to high intensity physical activity challenge which requires you to cover about 5 miles a day for nearly three months.
                                                                                We will calculate the cumulative distance you covered in 60 days or less using the connected devices or apps (Click here to connect now) and you will instantly be rewarded with 50 Points once you reach the 300 miles mark.
                                                                            </p>
                                                                        </div>
                                                                        <div class="col-sm-3">
                                                                            <div class="form-group">
                                                                                <button type="button" class="button button--large button--block text-center button--default">Join Challenge</button>
                                                                            </div>
                                                                            <p class="text-center purple-color"><span class="text-bold text-uppercase">Enroll by: </span>01/01/2018</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a href="../point-matrix" class="points-btm">
                                                            100 <span class="pts-lbl">pts</span>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </section>
                                </div>
                                <div class="col-sm-12">
                                    <div class="points-wrapper">
                                        <h2 class="blue-header">Personal Challenges</h2>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="tile-block">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="tile-description">
                                                    <h3 class="tile-main-header">500 Miles in 50 Days</h3>
                                                    <h4 class="tile-sub-header">50,000 Steps in 30 Days</h4>
                                                    <p><span class="text-bold text-uppercase">Intensity:</span> Light</p>
                                                    <p><span class="text-bold text-uppercase">Health aspect:</span> Physical Activity</p>
                                                    <p>
                                                        The 50,000 in 50 days challenge is a great challenge if you plan to begin being physically active.
                                                        This challenge gets you to start being mindful about your body’s physical activity and gets you
                                                        moving. Be sure to get be rewarded 25 points once you’ve tracked 50,000 steps in 50 days or less. Join now!
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="join-challenge-wrapper">
                                                    <img src="../../assets/images/challenges/Onlife_Miles.jpg" alt="" class="img-responsive" />
                                                    <button type="button" class="button button--large text-center button--default join-challenge">Join Challenge</button>
                                                    <a href="../point-matrix" class="points-btm">
                                                        25 <span class="pts-lbl">pts</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tile-block">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="tile-description">
                                                    <h3 class="tile-main-header">Meditate for 5 Days</h3>
                                                    <h4 class="tile-sub-header">Meditate 30 Minutes a day for 5 Days</h4>
                                                    <p>
                                                        Meditation is known to relieve stress, alleviate symptoms of depression and help stay focused. Experience first-hand the benefits of meditation by taking up this challenge. This is suitable for all individuals.
                                                        Meditate for just 30 minutes every day for 5 days to complete the challenge and earn 25 points. Join now!
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="join-challenge-wrapper">
                                                    <img src="../../assets/images/challenges/Onlife_Medidate.jpg" alt="" class="img-responsive" />
                                                    <button type="button" class="button button--large text-center button--default join-challenge">Join Challenge</button>
                                                    <a href="../point-matrix" class="points-btm">
                                                        25 <span class="pts-lbl">pts</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tile-block">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="tile-description">
                                                    <h3 class="tile-main-header">Greens Please</h3>
                                                    <h4 class="tile-sub-header">Eat 8 cups of fruit and vegetables in a week</h4>
                                                    <p>Get your weekly dosage of greens by taking up the Greens Please challenge. Fruits and vegetables are a rich source of essential body nutrients, minerals and fiber. Consume at least 8 cups of fruit and vegetables in one week and earn 20 points. Join now!</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="join-challenge-wrapper">
                                                    <img src="../../assets/images/challenges/Onlife_Greens.jpg" alt="" class="img-responsive" />
                                                    <button type="button" class="button button--large text-center button--default join-challenge">Join Challenge</button>
                                                    <a href="../point-matrix" class="points-btm">
                                                        25 <span class="pts-lbl">pts</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>




        <footer class="footer">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1">
                    <h3>We're Here to Help</h3>
                    <p class="contact-text">Contact Us</p>
                    <p class="contact-number">877-709-0201</p>
                </div>
                <div class="col-sm-9">
                    <nav class="footer-nav">
                        <ul>
                            <li><a href="">Dashboard</a></li>
                            <li><a href="">Trackers</a></li>
                            <li><a href="">MyHealth</a></li>
                            <li><a href="">Certificates</a></li>
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">Terms of Service</a></li>
                        </ul>
                    </nav>
                    <div class="copyrights">
                        <p>&copy; 2017 Onlife Health, Inc. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <div style="overflow: hidden; opacity: 0; width: 0px; height:0px;"><img src="../../assets/images/Onlife_Tracy_User.jpg" /></div>

    <div class="loading-overlay">
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
    </div>

    <!-- Jquery Version -->
    <script src="../../assets/js/jquery-1.11.3.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="../../js/vendor/bootstrap/bootstrap.js"></script>
    <script src="../../assets/js/classie.js"></script>
    <script src="../../assets/js/jquery.flexslider.js"></script>
    <script src="../../js/vendor/notification/classie.js"></script>
    <script src="../../js/vendor/notification/notificationFx.js"></script>
    <script src="js/scripts.js"></script>

</body>
</html>
