<header class="header">
    <div class="row">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-xs-3">
                    <div class="hamburger" id="showMenus">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="col-xs-9 trim-left">
                    <div class="logo">
                        <a href="../dashboard">
                            <img src="../../assets/images/Onlife_HealthTrust.png"
                                 alt="HealthTrust logo"
                                 class="img-responsive" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <ul class="top-nav">
                <li>
                    <a href="../connect-device" class="top-nav-icon">
                        <span class="icon-onlife_devices"></span>
                    </a>
                </li>
                <li>
                    <a href="../family-friends" class="top-nav-icon">
                        <span class="icon-onlife_friends"></span>
                    </a>
                </li>
                <li>
                    <a href="#" class="top-nav-icon">
                        <span class="icon-onlife_messages"></span>
                        <span class="notification-count">1</span>
                    </a>
                </li>
                <li class="login-candet">
                    <a class="dropdown-toggle user-login" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="../../assets/images/Onlife_Mary_Dp.png" alt="" class="img-responsive" />
                    </a>
                    <div class="dropdown-menu">
                        <ul>
                            <li>
                                <a class="dropdown-item" href="../dashboard">First Login</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="../second-login">Completed HA</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Log out</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</header>
<!-- Navigation Starts -->
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    <ul>
        <li>
            <a href="../view-profile">
                <span class="menu-icon ico-onlife_avatar"></span>
                <span class="menu-label">My Profile</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="menu-icon icon-onlife_points"></span>
                <span class="menu-label">My Points</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="menu-icon icon-onlife_devices"></span>
                <span class="menu-label">Devices</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="menu-icon icon-onlife_goals"></span>
                <span class="menu-label">Goals</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="menu-icon icon-onlife_courses"></span>
                <span class="menu-label">Courses</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="menu-icon icon-onlife_trackers"></span>
                <span class="menu-label">Trackers</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="menu-icon icon-onlife_financial"></span>
                <span class="menu-label">Financial</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="menu-icon icon-onlife_reports"></span>
                <span class="menu-label">Reports</span>
            </a>
        </li>
    </ul>
</nav><!-- Navigation Ends -->