<div class="form-group text-right">
    <button class="btn"
            data-ng-class="{'btn-default' : creatingJourney, 'btn-primary': !creatingJourney}"
            type="button"
            data-ng-click="creatingJourney = !creatingJourney;">
        <span data-ng-if="!creatingJourney">Create Journey</span>
        <span data-ng-if="creatingJourney">Cancel</span>
    </button>
</div>

<div class="list-group" data-ng-if="!creatingJourney" data-ng-show="settingListCtrl.programsGrid.data.length > 0">
    <div ui-grid="settingListCtrl.programsGrid" ui-grid-selection ui-grid-auto-resize class="myGrid" data-ng-cloak>
    </div>
</div>

<div data-ng-if="creatingJourney">
    <div class="well">
        <div class="row">
            <div class="col-sm-12">
                <h2>Create New Journey</h2>
                <h8>Select Journey Trigger</h8>
                <h8>The trigger you select shall determine the point at which the journey will activate for the member.</h8>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="thumbnail" data-toggle="modal" data-target="#programModal"
                     ng-click="selectedProgram = ''; selectedProgram.Trigger = 'New Enrollees'; selectedProgram.Recommendations = []">
                    <img src="../img/OnBoarding.jpg" alt="Weight Reduction image" style="width: 200px; height: 200px">
                    <div class="caption">
                        <h3>New Enrollees</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="thumbnail" data-toggle="modal" data-target="#programModal"
                     ng-click="selectedProgram = ''; selectedProgram.Trigger = 'HA Completed'; selectedProgram.Recommendations = []">
                    <img src="../img/HealthAssessment.jpg" alt="Stress Reduction image" style="width: 200px; height: 200px">
                    <div class="caption">
                        <h3>HA Completed</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="thumbnail" data-toggle="modal" data-target="#programModal"
                     ng-click="selectedProgram = ''; selectedProgram.Trigger = 'Biometric Completed'; selectedProgram.Recommendations = []">
                    <img src="../img/BMS.PNG" alt="Stress Reduction image" style="width: 200px; height: 200px">
                    <div class="caption">
                        <h3>Biometric Completed (Future)</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="programModal" tabindex="-1" role="dialog" aria-labelledby="programModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="programModalLabel">
                    {{creatingJourney ? 'Create New Journey' : selectedProgram.JourneyName}}
                </h2>
                <br />
                <p>
                    Please provide journey details below. You can select recommendations by clicking on the Add Button. The
                    recommendations will be sequenced in order that you have defined.
                </p>
            </div>
            <div class="modal-body">
                <div class="p-x-15">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>Journey trigger: {{selectedProgram.Trigger}}</h3>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Journey name:</label>
                                        <input class="form-control" data-ng-model="selectedProgram.JourneyName" />
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label class="control-label">Journey description:</label>
                                        <textarea class="form-control" rows="3">
                                            {{selectedProgram.Description}}
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="control-label">Status:</label>
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option value="active">Active</option>
                                            <option value="inActive">In Active</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Category:</label>
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option>Managing Stress</option>
                                            <option>Quit Tobacco Use</option>
                                            <option>Decrease Weight</option>
                                            <option>Improve Blood Pressure </option>
                                            <option>Improve Cholesterol</option>
                                            <option>Improve Dietary Habits</option>
                                            <option>Improve Fitness Level</option>
                                            <option>Maintain Tobacco Free Status</option>
                                            <option>Maintain Weight</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <label for="" class="control-label">Recommendations:</label>
                            <div class="row" data-ng-repeat="item in selectedProgram.Recommendations">
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <input class="form-control"
                                               data-ng-disabled="true"
                                               data-ng-model="item.title" />
                                    </div>
                                </div>
                                <div class="col-xs-1 action-buttons">
                                    <i class="fa fa-trash delete-icon m-t-20"
                                       ng-click="settingListCtrl.removeByAttr(selectedProgram.Recommendations, 'title', item.title)"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <select class="form-control"
                                                ng-options="recommendation.title for recommendation in settingListCtrl.programRecommendations"
                                                ng-model="selectedProgramRecommendation">
                                            <option value="">-- Select recommendation--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-1 action-buttons">
                                    <button type="button"
                                            class="btn btn-primary"
                                            data-ng-disabled="!selectedProgramRecommendation"
                                            data-ng-click=" selectedProgram.Recommendations.push(selectedProgramRecommendation)">
                                        Add
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="col-sm-12">
                            <p>
                                Note: If you do not find recommendations you are looking for, you can create a new one
                                <button class="btn btn-link" data-ng-click="settingListCtrl.navigateToRecommendation();">here</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span class="pull-left">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </span>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="creatingJourney = false">
                    Save & Close
                </button>
            </div>
        </div>
    </div>
</div>