<div class="ibox animated fadeInDown" data-ng-controller="SettingListController as settingListCtrl">
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2>{{settingMenuData.DisplayName}}</h2>
        <!--<ol class="breadcrumb" data-ng-controller="BreadCrumbController as breadCrumbCtrl">
            <li data-ng-repeat="breadCrumbValue in group.breadCrumb">
                <a data-ng-bind="breadCrumbValue.GroupName" data-ng-click="breadCrumbCtrl.selectedGroup(breadCrumbValue)"></a>
            </li>
        </ol>-->
    </div>
    <div class="col-sm-12 text-right">
        <div class="checkbox checkbox-primary" data-ng-hide="settingListCtrl.hideFilter">
            <input id="settingFilter" class="styled" type="checkbox" data-ng-change="settingListCtrl.filterCurrentSettings(settingListCtrl.showCurrentSetting,
                            settingMenuData.MenuIdentifier)" data-ng-model="settingListCtrl.showCurrentSetting">
            <label for="settingFilter">Current Settings</label>
        </div>
    </div>
    <div class="col-sm-12" ng-hide="settingListCtrl.hidePrograms">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Create Journey
        </button>
        <div class="collapse" id="collapseExample">
          <div class="well">
            <div class="row">
            <h2>Select Program Scope</h2>
              <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="thumbnail" ng-click="settingListCtrl.createAddProgramScreen('Weight Reduction')">
                  <img src="../public/styles/img/program/Weight.png" alt="Weight Reduction image" style="width: 200px; height: 200px">
                  <div class="caption">
                    <h3>Weight Reduction</h3>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="thumbnail" ng-click="settingListCtrl.createAddProgramScreen('Stress Reduction')">
                  <img src="../public/styles/img/program/Stress.png" alt="Stress Reduction image" style="width: 200px; height: 200px">
                  <div class="caption">
                    <h3>Stress Reduction</h3>
                  </div>
                </div>
              </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="thumbnail" ng-click="settingListCtrl.createAddProgramScreen('Physical Activity')">
                  <img src="../public/styles/img/program/Physical_activity.png" alt="Stress Reduction image" style="width: 200px; height: 200px">
                  <div class="caption">
                    <h3>Physical Activity</h3>
                  </div>
                </div>
              </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="thumbnail" ng-click="settingListCtrl.createAddProgramScreen('Blood Pressure')">
                  <img src="../public/styles/img/program/Blood_Pressure.png" alt="Blood Pressure image" style="width: 200px; height: 200px">
                  <div class="caption">
                    <h3>Blood Pressure</h3>
                  </div>
                </div>
              </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="thumbnail" ng-click="settingListCtrl.createAddProgramScreen('Cholesterol')">
                  <img src="../public/styles/img/program/Cholesterol.png" alt="Cholesterol image" style="width: 200px; height: 200px">
                  <div class="caption">
                    <h3>Cholesterol</h3>

                  </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="thumbnail" ng-click="settingListCtrl.createAddProgramScreen('Dietary Habits')">
                  <img src="../public/styles/img/program/Dietary_Habits.png" alt="Dietary Habits image" style="width: 200px; height: 200px">
                  <div class="caption">
                    <h3>Dietary Habits</h3>
                  </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="thumbnail" ng-click="settingListCtrl.createAddProgramScreen('Fitness Level')">
                  <img src="../public/styles/img/program/Fitness_Level.png" alt="Fitness Level image" style="width: 200px; height: 200px">
                  <div class="caption">
                    <h3>Fitness Level</h3>
                  </div>
                </div>
            </div>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="tab-structure">

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist" data-ng-show="settingMenuData.ClassType.length > 1">
    <li role="presentation" data-ng-class="tabIndex === 0 ? 'active' : ''" data-ng-repeat="(tabIndex, tabMenu) in  settingMenuData.ClassType">
        <a href="#{{tabMenu}}" target="_self" aria-controls="home" role="tab" data-ng-click="settingListCtrl.getSettingData(tabMenu)" data-toggle="tab">{{tabMenu}}</a>
    </li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
<div role="tabpanel" id="SettingNameValueCollection" data-ng-class="settingMenuData.ClassType[0] === 'SettingNameValueCollection' ? 'tab-pane active'
                    : 'tab-pane fade'">
    <div class="list-group" data-ng-show="settingListCtrl.settingsGrid.data.length > 0">
        <div ui-grid="settingListCtrl.settingsGrid" ui-grid-selection ui-grid-auto-resize class="myGrid" data-ng-cloak>

        </div>
    </div>
</div>
<div role="tabpanel" id="Programs" data-ng-class="settingMenuData.ClassType[0] === 'Programs' ? 'tab-pane active'
                    : 'tab-pane fade'">
    <div class="list-group" data-ng-show="settingListCtrl.programsGrid.data.length > 0">
        <div ui-grid="settingListCtrl.programsGrid" ui-grid-selection ui-grid-auto-resize class="myGrid" data-ng-cloak>
        </div>
    </div>
</div>
<div role="tabpanel" id="Recommendations" data-ng-class="settingMenuData.ClassType[0] === 'Recommendations' ? 'tab-pane active' : 'tab-pane fade'">
    <header class="col-sm-12">
        <p>Here is a snapshot of different types of recommendation readily available for you to create a journey. These recommendations are predeficed by Onlife and come handy while creating Journeys.</p>
    </header>

    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-7">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." aria-describedby="search-area" data-ng-model="searchText">
                    <span class="input-group-addon" id="search-area"><i class="fa fa-search"></i></span>
                </div>
            </div>
            <div class="col-sm-5 text-right">
                <span>
                    <button class="btn btn-primary"
                            type="button"
                            data-toggle="modal"
                            data-target="#createRecommendationModal"
                            data-ng-click="settingListCtrl.creating = true; settingListCtrl.selectedRecommendation = {}">
                        Add Recommendation
                    </button>
                </span>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="scroll-area">
            <div class="recommended-content-wrap">
                <div class="recommended-item" data-ng-repeat="recommendation in settingListCtrl.recommendations | filter:searchText">
                    <div class="row">
                        <div class="col-xs-1">
                            <div class="recommended-icon">
                                <img class="img-responsive"
                                     data-ng-src="../public/styles/img/recommendations/icon/{{recommendation.icon}}"
                                     alt="recommendationIcon">
                            </div>
                        </div>
                        <div class="col-xs-11">
                            <div class="recommended-content">
                                <h3 class="recommended-header">
                                    <a href="javascript:void(0)"
                                       data-toggle="modal"
                                       data-target="#createRecommendationModal"
                                       data-ng-click="settingListCtrl.creating = false; settingListCtrl.selectedRecommendation = recommendation;">
                                        {{recommendation.title}}
                                    </a>
                                </h3>
                                <p>
                                    {{recommendation.descriptionWhy}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="createRecommendationModal" tabindex="-1" role="dialog" aria-labelledby="createRecommendationModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="createRecommendationModalLabel">
                        {{settingListCtrl.creating ? 'Create New Recommendation' : 'Recommendation: ' + settingListCtrl.selectedRecommendation.title}}
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="p-x-15">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="recommendationTitle" class="control-label">Title</label>
                                    <input type="text" class="form-control" id="recommendationTitle" data-ng-model="settingListCtrl.selectedRecommendation.title">
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="recommendationDescriptionWhy" class="control-label">Why ?</label>
                                            <textarea class="form-control" rows="6"
                                                      id="recommendationDescriptionWhy"
                                                      data-ng-model="settingListCtrl.selectedRecommendation.descriptionWhy"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="recommendationDescriptionWhat" class="control-label">What ?</label>
                                            <textarea class="form-control" rows="6"
                                                      id="recommendationDescriptionWhat"
                                                      data-ng-model="settingListCtrl.selectedRecommendation.descriptionWhat"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="recommendationDescription" class="control-label">How ?</label>
                                            <textarea class="form-control" rows="6"
                                                      id="recommendationDescription"
                                                      data-ng-model="settingListCtrl.selectedRecommendation.descriptionHow"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="row">
                                                <label for="recommendationImage" class="control-label col-xs-6">{{settingListCtrl.creating ? 'Select Image' : 'Image'}}</label>
                                                <div class="col-xs-6 text-center">
                                                    <img id="recommendationImage"
                                                         data-ng-if="!settingListCtrl.creating"
                                                         data-ng-src="../public/styles/img/recommendations/image/{{settingListCtrl.selectedRecommendation.image}}">
                                                    <input type="button" data-ng-if="settingListCtrl.creating" value="Select Image" class="btn btn-primary">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label for="recommendationIcon" class="control-label col-xs-6">{{settingListCtrl.creating ? 'Select Icon' : 'Icon'}}</label>
                                                <div class="col-xs-6 text-center">
                                                    <img id="recommendationIcon"
                                                         data-ng-if="!settingListCtrl.creating"
                                                         data-ng-src="../public/styles/img/recommendations/icon/{{settingListCtrl.selectedRecommendation.icon}}">
                                                    <input type="button" data-ng-if="settingListCtrl.creating" value="Select Icon" class="btn btn-primary">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-xs-5">
                                                <label class="control-label">Status:</label>
                                                <div class="form-group">
                                                    <div class="radio">
                                                        <input type="radio" id="activeRadio" value="Active" checked=""
                                                               data-ng-model="settingListCtrl.selectedRecommendation.status"
                                                               name="recommendationStatus"
                                                               data-ng-value="true">
                                                        <label for="activeRadio">
                                                            Active
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <input type="radio" id="inActiveRadio" value="inActive" checked=""
                                                               name="recommendationStatus"
                                                               data-ng-model="settingListCtrl.selectedRecommendation.status"
                                                               data-ng-value="false">
                                                        <label for="inActiveRadio">
                                                            Inactive
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-7">
                                                <div class="form-group">
                                                    <label for="recommendationActiveFrom" class="control-label">Active From</label>
                                                    <input type="date"
                                                           class="form-control"
                                                           id="recommendationActiveFrom"
                                                           data-ng-model="settingListCtrl.selectedRecommendation.activeFrom">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="recommendationActiveFrom" class="control-label">Active From</label>
                                            <select class="form-control">
                                                <option ng-repeat="row in recommendationsApplicable[&quot;'Architect'&quot;]" value="{{row}}">{{row}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <h4>Actions</h4>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table class="table table-striped table-bordered table-hover dataTables-example dataTable" aria-describedby="DataTables" role="grid">
                                                    <thead>
                                                        <tr role="row">
                                                            <th colspan="1" rowspan="1">Action Type</th>
                                                            <th colspan="1" rowspan="1">Action Target</th>
                                                            <th colspan="1" rowspan="1">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="elem in tableRow" class="gradeA odd" role="row">
                                                            <td class="sorting_1">
                                                                <select class="form-control">

                                                                </select>
                                                            </td>
                                                            <td>
                                                                <select ng-model="selectedTarget" class="form-control">
                                                                    <option ng-repeat="targets in selectedTargets">{{targets}}</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <input type="button" value="delete" ng-click="removeElement($index)">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <span class="pull-left">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </span>
                    <button type="button" class="btn btn-primary">Previous</button>
                    <button type="button" class="btn btn-primary">Next</button>
                </div>
            </div>
        </div>
    </div>

</div>
<div role="tabpanel" id="Announcements" class="animated fadeInDown ng-cloak" data-ng-class="settingMenuData.ClassType[0] === 'Announcements' ? 'tab-pane active': 'tab-pane fade'">
    <div class="tabs-container push-top-small">
        <div class="tabs-left">
            <ul class="nav nav-tabs draglist" role="tablist">
                <li role="presentation" data-ng-repeat="(index, announcementData ) in settingListCtrl.settingsAnnouncementData" data-ng-drop="true" ng-drop-success="settingListCtrl.onDropComplete(index, $data, 'saveannouncements',
                                settingListCtrl.settingsAnnouncementData)" data-ng-class="index === 0 ? 'active' : ''">
                    <a href="#announcement{{index}}" data-ng-drag="true" target="_self" aria-controls="home" data-ng-drag-data="announcementData" role="tab" data-toggle="tab">{{announcementData.AnnouncementName}}</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" data-ng-repeat="(announcementIndex, announcement ) in settingListCtrl.settingsAnnouncementData" data-ng-class="announcementIndex === 0 ? 'tab-pane active' : 'tab-pane fade'" data-ng-click="settingListCtrl.createEditAnnouncement(settingListCtrl.settingsAnnouncementData,
                                 announcementIndex, true)" id="announcement{{announcementIndex}}">
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="control-label">Announcement Text</label>

                                    <p>{{announcement.AnnouncementText[0].Value}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="control-label">Start Date</label>

                                    <p>{{announcement.StartDate | date: 'MM/dd/yyyy' }}</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">End Date</label>

                                    <p>{{announcement.EndDate | date: 'MM/dd/yyyy'}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Disabled</label>

                                    <p>{{announcement.Disabled}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="control-label">Setting From</label>

                                    <p>{{announcement.MetaData.SettingsFromGroupName }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group text-right push-top-small">
                    <button class="btn btn-primary" type="button" data-ng-click="settingListCtrl.createEditAnnouncement(
                                        settingListCtrl.settingsAnnouncementData,null, false)">Create
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div role="tabpanel" id="PointsMatrix" class="animated fadeInDown ng-cloak" data-ng-class="settingMenuData.ClassType[0] === 'PointsMatrix' ? 'tab-pane active': 'tab-pane fade'">
    <div class="tabs-container push-top-small">
        <div class="tabs-left">
            <ul class="nav nav-tabs draglist" role="tablist">
                <li role="presentation" data-ng-repeat="(index, pointMatrixData ) in settingListCtrl.pointMatrixData
                                 track by $index" data-ng-drop="true" ng-drop-success="settingListCtrl.onDropComplete(index, $data, 'savepointsmatrix',
                                settingListCtrl.pointMatrixData)" data-ng-class="index === 0 ? 'active' : ''">
                    <a href="#point{{index}}" data-ng-drag="true" data-ng-drag-data="pointMatrixData" target="_self" aria-controls="home" role="tab" data-toggle="tab">
                        {{pointMatrixData.ActionDisplayName}}
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" data-ng-repeat="(pointIndex, pointMatrix ) in settingListCtrl.pointMatrixData
                                 track by $index" data-ng-class="pointIndex === 0 ? 'tab-pane active' : 'tab-pane fade'" data-ng-click="settingListCtrl.createEditPointMatrix(settingListCtrl.pointMatrixData,
                                 pointIndex, true)" id="point{{pointIndex}}">
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="control-label">Action Category Title</label>

                                    <p>{{pointMatrix.ActionCategoryTitle[0].Value}}</p>
                                </div>
                                <div class="col-sm-8">
                                    <label class="control-label">Action Category Text</label>

                                    <p>{{pointMatrix.ActionCategoryText[0].Value}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="control-label">Instance Points</label>

                                    <p>{{pointMatrix.InstancePoints}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Max Instances</label>

                                    <p>{{pointMatrix.MaxInstances}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Frequency Max Instances</label>

                                    <p>{{pointMatrix.FrequencyMaxInstances}}</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="control-label">Frequency Days</label>

                                    <p>{{pointMatrix.PointsFrequencyName}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">PreCondition</label>

                                    <p>{{pointMatrix.PreConditionDisplayName}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Disabled</label>

                                    <p>{{pointMatrix.Disabled}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="control-label">Calendar Start Date</label>

                                    <p>{{pointMatrix.CalendarStartDate | date: 'MM/dd/yyyy' }}</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Start Date</label>

                                    <p>{{pointMatrix.StartDate | date: 'MM/dd/yyyy'}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">End Date</label>

                                    <p>{{pointMatrix.EndDate | date: 'MM/dd/yyyy'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="control-label">Setting From</label>

                                    <p>{{pointMatrix.MetaData.SettingsFromGroupName }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="profile1">
                    <div class="panel-body">
                        Correct boy 2

                    </div>
                </div>
                <div class="form-group text-right push-top-small">
                    <button class="btn btn-primary" type="button" data-ng-click="settingListCtrl.createEditPointMatrix(
                                        settingListCtrl.pointMatrixData,null, false)">Create
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div role="tabpanel" id="Incentives" class="animated fadeInDown ng-cloak" data-ng-class="settingMenuData.ClassType[0] === 'Incentives' ? 'tab-pane active': 'tab-pane fade'">
    <div class="tabs-container push-top-small">
        <div class="tabs-left">
            <ul class="nav nav-tabs draglist" role="tablist">
                <li role="presentation" data-ng-repeat="(index, pointMatrixData ) in settingListCtrl.manageIncentiveData
                                 track by $index" data-ng-drop="true" ng-drop-success="settingListCtrl.onDropComplete(index, $data, 'savepointsmatrix',
                                settingListCtrl.pointMatrixData)" data-ng-class="index === 0 ? 'active' : ''">
                    <a href="#point{{index}}" data-ng-drag="true" data-ng-drag-data="pointMatrixData" target="_self" aria-controls="home" role="tab" data-toggle="tab">
                        {{pointMatrixData.ActionDisplayName}}
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" data-ng-repeat="(incentiveIndex, manageIncentive ) in settingListCtrl.manageIncentiveData
                                 track by $index" data-ng-class="incentiveIndex === 0 ? 'tab-pane active' : 'tab-pane fade'" data-ng-click="settingListCtrl.createEditIncentives(settingListCtrl.manageIncentiveData,
                                 incentiveIndex, true)" id="point{{incentiveIndex}}">
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="control-label">Action Category Title</label>

                                    <p>{{manageIncentive.ActionCategoryTitle[0].Value}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Incentive Code</label>

                                    <p>{{manageIncentive.IncentiveCode[0].Value}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Action Category Text</label>

                                    <p>{{manageIncentive.ActionCategoryText[0].Value}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="control-label">Incentive</label>

                                    <p>{{manageIncentive.Incentive}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Max Instances</label>

                                    <p>{{manageIncentive.MaxInstances}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Frequency Max Instances</label>

                                    <p>{{manageIncentive.FrequencyMaxInstances}}</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="control-label">Frequency Days</label>

                                    <p>{{manageIncentive.PointsFrequencyName}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">PreCondition</label>

                                    <p>{{manageIncentive.PreConditionDisplayName}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Disabled</label>

                                    <p>{{manageIncentive.Disabled}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="control-label">Start Date</label>

                                    <p>{{manageIncentive.StartDate | date: 'MM/dd/yyyy'}}</p>
                                </div>
                                <div class="col-sm-8">
                                    <label class="control-label">End Date</label>

                                    <p>{{manageIncentive.EndDate | date: 'MM/dd/yyyy'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="control-label">Setting From</label>

                                    <p>{{manageIncentive.MetaData.SettingsFromGroupName }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="profile1">
                    <div class="panel-body">
                        Correct boy 2

                    </div>
                </div>
                <div class="form-group text-right push-top-small">
                    <button class="btn btn-primary" type="button" data-ng-click="settingListCtrl.createEditIncentives(
                                        settingListCtrl.manageIncentiveData,null, false)">Create
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div role="tabpanel" id="AuthenticationFields" class="animated fadeInDown ng-cloak" data-ng-class="settingMenuData.ClassType[0] === 'AuthenticationFields' ? 'tab-pane active': 'tab-pane fade'">
    <div class="tabs-container push-top-small">
        <div class="tabs-left">
            <ul class="nav nav-tabs draglist" role="tablist">
                <li role="presentation" data-ng-repeat="(index, authFieldData ) in settingListCtrl.authenticationFieldData" data-ng-drop="true" ng-drop-success="settingListCtrl.onDropComplete(index, $data, 'saveauthenticationfields',
                                settingListCtrl.authenticationFieldData)" data-ng-class="index === 0 ? 'active' : ''">
                    <a href="#authField{{index}}" data-ng-drag="true" target="_self" aria-controls="home" data-ng-drag-data="authFieldData" role="tab" data-toggle="tab">{{authFieldData.DisplayFieldName}}</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" data-ng-repeat="(authIndex, authField ) in settingListCtrl.authenticationFieldData" data-ng-class="authIndex === 0 ? 'tab-pane active' : 'tab-pane fade'" data-ng-click="settingListCtrl.createEditAuthField(settingListCtrl.authenticationFieldData,
                                 authIndex, true)" id="authField{{authIndex}}">
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="control-label">Display Label</label>

                                    <p>{{authField.DisplayLabel[0].Value}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Instructions</label>

                                    <p>{{authField.Instructions[0].Value}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Setting From</label>

                                    <p>{{authField.MetaData.SettingsFromGroupName }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="control-label">Disabled</label>

                                    <p>{{authField.Disabled}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group text-right push-top-small">
                    <button class="btn btn-primary" type="button" data-ng-click="settingListCtrl.createEditAuthField(
                                        settingListCtrl.authenticationFieldData,null, false)">Create
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div role="tabpanel" id="IntroScreen" class="animated fadeInDown ng-cloak" data-ng-class="settingMenuData.ClassType[0] === 'IntroScreen' ? 'tab-pane active': 'tab-pane fade'">
    <div class="tabs-container push-top-small">
        <div class="tabs-left">
            <ul class="nav nav-tabs draglist" role="tablist">
                <li role="presentation" data-ng-repeat="(index, introScreenData ) in settingListCtrl.introScreenData" data-ng-drop="true" ng-drop-success="settingListCtrl.onDropComplete(index, $data, 'saveintroscreens',
                                settingListCtrl.introScreenData)" data-ng-class="index === 0 ? 'active' : ''">
                    <a href="#intro{{index}}" data-ng-drag="true" data-ng-drag-data="introScreenData" target="_self" aria-controls="home" role="tab" data-toggle="tab">{{introScreenData.Name}}</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" data-ng-repeat="(introIndex, introScreen) in settingListCtrl.introScreenData" data-ng-class="introIndex === 0 ? 'tab-pane active' : 'tab-pane fade'" data-ng-click="settingListCtrl.createEditIntroScreen(settingListCtrl.introScreenData,
                                 introIndex, true)" id="intro{{introIndex}}">
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="control-label">Header</label>

                                    <p>{{introScreen.Header[0].Value}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Content</label>

                                    <p>{{introScreen.Content[0].Value}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Title</label>

                                    <p>{{introScreen.Title[0].Value}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="control-label">Image</label>

                                    <p>{{introScreen.Image}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Start Date</label>

                                    <p>{{introScreen.StartDate | date: 'MM/dd/yyyy'}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">End Date</label>

                                    <p>{{introScreen.EndDate | date: 'MM/dd/yyyy'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="control-label">Setting From</label>

                                    <p>{{introScreen.MetaData.SettingsFromGroupName}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group text-right push-top-small">
                    <button class="btn btn-primary" type="button" data-ng-click="settingListCtrl.createEditIntroScreen(
                                        settingListCtrl.introScreenData,null, false)">Create
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div role="tabpanel" id="MarketingTiles" class="animated fadeInDown ng-cloak" data-ng-class="settingMenuData.ClassType[0] === 'MarketingTiles' ? 'tab-pane active': 'tab-pane fade'">
    <div class="tabs-container push-top-small">
        <div class="tabs-left">
            <ul class="nav nav-tabs draglist" role="tablist">
                <li role="presentation" data-ng-repeat="(index, marketingTileData ) in settingListCtrl.marketingTileData" data-ng-drop="true" ng-drop-success="settingListCtrl.onDropComplete(index, $data, 'savemarketingtiles',
                                settingListCtrl.marketingTileData)" data-ng-class="index === 0 ? 'active' : ''">
                    <a href="#marketing{{index}}" data-ng-drag="true" data-ng-drag-data="marketingTileData" target="_self" aria-controls="home" role="tab" data-toggle="tab">{{marketingTileData.Name}}</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" data-ng-repeat="(tileIndex, marketingTile) in settingListCtrl.marketingTileData" data-ng-class="tileIndex === 0 ? 'tab-pane active' : 'tab-pane fade'" data-ng-click="settingListCtrl.createEditMarketingTileScreen(
                                 settingListCtrl.marketingTileData, tileIndex, true)" id="marketing{{tileIndex}}">
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="control-label">Header</label>

                                    <p>{{marketingTile.Header[0].Value}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Text</label>

                                    <p>{{marketingTile.Text[0].Value}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Link Text</label>

                                    <p>{{marketingTile.LinkText[0].Value}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="control-label">Image</label>

                                    <p>{{marketingTile.Image}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Link</label>

                                    <p>{{marketingTile.Link}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Priority</label>

                                    <p>{{marketingTile.Priority}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="control-label">Start Date</label>

                                    <p>{{marketingTile.StartDate | date: 'MM/dd/yyyy'}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">End Date</label>

                                    <p>{{marketingTile.EndDate | date: 'MM/dd/yyyy'}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Disabled</label>

                                    <p>{{marketingTile.Disabled}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="control-label">Setting From</label>

                                    <p>{{marketingTile.MetaData.SettingsFromGroupName}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group text-right push-top-small">
                <button class="btn btn-primary" type="button" data-ng-click="settingListCtrl.createEditMarketingTileScreen(
                                        settingListCtrl.marketingTileData,null, false)">Create
                </button>
            </div>
        </div>
    </div>
</div>
<div role="tabpanel" id="MyCompany" class="animated fadeInDown ng-cloak" data-ng-class="settingMenuData.ClassType[0] === 'MyCompany' ? 'tab-pane active': 'tab-pane fade'">
    <div class="tabs-container push-top-small">
        <div class="tabs-left">
            <ul class="nav nav-tabs draglist" role="tablist">
                <li role="presentation" data-ng-repeat="(index, myCompanyData ) in settingListCtrl.myCompanyData" data-ng-drop="true" ng-drop-success="settingListCtrl.onDropComplete(index, $data, 'savemycompany',
                                settingListCtrl.myCompanyData)" data-ng-class="index === 0 ? 'active' : ''">
                    <a href="#myCompany{{index}}" data-ng-drag="true" data-ng-drag-data="myCompanyData" target="_self" aria-controls="home" role="tab" data-toggle="tab">{{myCompanyData.Name}}</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" data-ng-repeat="(companyIndex, myCompany) in settingListCtrl.myCompanyData" data-ng-class="companyIndex === 0 ? 'tab-pane active' : 'tab-pane fade'" data-ng-click="settingListCtrl.createEditMyCompanyScreen(
                                 settingListCtrl.myCompanyData, companyIndex, true)" id="myCompany{{companyIndex}}">
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="control-label">Title</label>

                                    <p>{{myCompany.Title[0].Value}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="control-label">Display Text</label>

                                    <p>{{myCompany.DisplayText[0].Value | removeHTMLTags}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="control-label">Disabled</label>

                                    <p>{{myCompany.Disabled}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Target URL</label>

                                    <p>{{myCompany.TargetURL}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Setting From</label>

                                    <p>{{myCompany.MetaData.SettingsFromGroupName}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label class="control-label">Start Date</label>

                                    <p>{{myCompany.StartDate | date: 'MM/dd/yyyy'}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">End Date</label>

                                    <p>{{myCompany.EndDate | date: 'MM/dd/yyyy'}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Effective Date</label>

                                    <p>{{myCompany.EffectiveDate | date: 'MM/dd/yyyy'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group text-right push-top-small">
                <button class="btn btn-primary" type="button" data-ng-click="settingListCtrl.createEditMyCompanyScreen(
                                        settingListCtrl.myCompanyData,null, false)">Create
                </button>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>


