

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../../../styles/core/fonts/helvetica/HelveticaNeue-Light.eot');
	src: url('../../../styles/core/fonts/helvetica/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
		 url('../../../styles/core/fonts/helvetica/HelveticaNeue-Light.woff2') format('woff2'),
		 url('../../../styles/core/fonts/helvetica/HelveticaNeue-Light.woff') format('woff'),
		 url('../../../styles/core/fonts/helvetica/HelveticaNeue-Light.ttf') format('truetype'),
		 url('../../../styles/core/fonts/helvetica/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
    font-family: 'OnlifeFont';
    src: url('../../../styles/core/fonts/onlife-font/OnlifeFont.eot');
    src: url('../../../styles/core/fonts/onlife-font/OnlifeFont.eot?#iefix') format('embedded-opentype'),
         url('../../../styles/core/fonts/onlife-font/OnlifeFont.woff') format('woff'),
         url('../../../styles/core/fonts/onlife-font/OnlifeFont.ttf') format('truetype'),
         url('../../../styles/core/fonts/onlife-font/OnlifeFont.svg#OnlifeFont') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Onlife_icon_set';
    src: url('../../../styles/core/fonts/onlife-font/Onlife_icon_set.eot');
    src: url('../../../styles/core/fonts/onlife-font/Onlife_icon_set.eot?#iefix') format('embedded-opentype'),
         url('../../../styles/core/fonts/onlife-font/Onlife_icon_set.woff') format('woff'),
         url('../../../styles/core/fonts/onlife-font/Onlife_icon_set.ttf') format('truetype'),
         url('../../../styles/core/fonts/onlife-font/Onlife_icon_set.svg#Onlife_icon_set') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*='ico-']:before, 
[class*='icon-']:before {
	display: inline-block;
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
[class*='ico-']:before{
   font-family: 'Onlife_icon_set';
}
[class*='icon-']:before{
	font-family: 'OnlifeFont';
}
//First Set
.ico-onlife_blood_glucose:before{content:'\0041';}
.ico-onlife_camera:before{content:'\0042';}
.ico-onlife_checkmark_circle:before{content:'\0043';}
.ico-onlife_decrease_weight_1:before{content:'\0044';}
.ico-onlife_document:before{content:'\0045';}
.ico-onlife_eBook:before{content:'\0046';}
.ico-onlife_edit:before{content:'\0047';}
.ico-onlife_evening:before{content:'\0048';}
.ico-onlife_exercise_diary:before{content:'\0049';}
.ico-onlife_face_1:before{content:'\004a';}
.ico-onlife_face_2:before{content:'\004b';}
.ico-onlife_face_3:before{content:'\004c';}
.ico-onlife_face_4:before{content:'\004d';}
.ico-onlife_face_5:before{content:'\004e';}
.ico-onlife_fb_circle:before{content:'\004f';}
.ico-onlife_fb_filled:before{content:'\0050';}
.ico-onlife_food_diary:before{content:'\0051';}
.ico-onlife_gamification:before{content:'\0052';}
.ico-onlife_hamburger_menu:before{content:'\0053';}
.ico-onlife_help:before{content:'\0054';}
.ico-onlife_home:before{content:'\0055';}
.ico-onlife_home_filled:before{content:'\0056';}
.ico-onlife_HTML_document:before{content:'\0057';}
.ico-onlife_lab_results:before{content:'\0058';}
.ico-onlife_linkedIn:before{content:'\0059';}
.ico-onlife_linkedIn_circle:before{content:'\005a';}
.ico-onlife_logout:before{content:'\0061';}
.ico-onlife_message:before{content:'\0062';}
.ico-onlife_message_icon:before{content:'\0063';}
.ico-onlife_miles:before{content:'\0064';}
.ico-onlife_minutes_icon:before{content:'\0065';}
.ico-onlife_mobile_range:before{content:'\0066';}
.ico-onlife_more:before{content:'\0067';}
.ico-onlife_morning:before{content:'\0068';}
.ico-onlife_my_company:before{content:'\0069';}
.ico-onlife_navigate_down:before{content:'\006a';}
.ico-onlife_navigate_left:before{content:'\006b';}
.ico-onlife_navigate_right:before{content:'\006c';}
.ico-onlife_navigate_up:before{content:'\006d';}
.ico-onlife_PDF:before{content:'\006e';}
.ico-onlife_people:before{content:'\006f';}
.ico-onlife_phone_receiver:before{content:'\0070';}
.ico-onlife_pointer:before{content:'\0071';}
.ico-onlife_portal:before{content:'\0072';}
.ico-onlife_quit_smoking:before{content:'\0073';}
.ico-onlife_reports_icon:before{content:'\0074';}
.ico-onlife_search_icon:before{content:'\0075';}
.ico-onlife_sms:before{content:'\0076';}
.ico-onlife_spreadsheet:before{content:'\0077';}
.ico-onlife_star:before{content:'\0078';}
.ico-onlife_symptom_checker:before{content:'\0079';}
.ico-onlife_twitter_circle:before{content:'\007a';}
.ico-onlife_twitter_filled:before{content:'\0030';}
.ico-onlife_vimeo:before{content:'\0031';}
.ico-onlife_vimeo_circle:before{content:'\0032';}
.ico-onlife_wallet:before{content:'\0033';}
.ico-onlife_word_document:before{content:'\0034';}
.ico-onlife_youtube:before{content:'\0035';}
.ico-onlife_youtube_circle:before{content:'\0036';}
.ico-onlife_afternoon:before{content:'\0037';}
.ico-onlife_articles:before{content:'\0038';}
.ico-onlife_assessments:before{content:'\0039';}
.ico-onlife_avatar:before{content:'\0021';}
.ico-onlife_concierge:before{content:'\0022';}
.ico-onlife_fitness_center:before{content:'\0023';}
.ico-onlife_friends_family:before{content:'\0024';}
//Second set
.icon-onlife_pregnancy:before{content:'\0041';}
.icon-onlife_baby_pregnancy:before{content:'\0042';}
.icon-onlife_medilife:before{content:'\0043';}
.icon-onlife_rounded_app:before{content:'\0044';}
.icon-onlife_rounded_connect:before{content:'\0045';}
.icon-onlife_rounded_invite:before{content:'\0046';}
.icon-onlife_rounded_stress:before{content:'\0047';}
.icon-onlife_rounded_tobacco:before{content:'\0048';}
.icon-onlife_decrease_weight:before{content:'\0049';}
.icon-onlife_devices:before{content:'\004a';}
.icon-onlife_diet:before{content:'\004b';}
.icon-onlife_dollars:before{content:'\004c';}
.icon-onlife_financial:before{content:'\004d';}
.icon-onlife_fitness:before{content:'\004e';}
.icon-onlife_fitness_dumbell:before{content:'\004f';}
.icon-onlife_friends:before{content:'\0050';}
.icon-onlife_goals:before{content:'\0051';}
.icon-onlife_greens:before{content:'\0052';}
.icon-onlife_hdl:before{content:'\0053';}
.icon-onlife_ldl:before{content:'\0054';}
.icon-onlife_left_arrow:before{content:'\0055';}
.icon-onlife_location:before{content:'\0056';}
.icon-onlife_lungs:before{content:'\0057';}
.icon-onlife_manage_stress:before{content:'\0058';}
.icon-onlife_member:before{content:'\0059';}
.icon-onlife_messages:before{content:'\005a';}
.icon-onlife_mobile:before{content:'\0061';}
.icon-onlife_monitor:before{content:'\0062';}
.icon-onlife_myhealth:before{content:'\0063';}
.icon-onlife_notepad:before{content:'\0064';}
.icon-onlife_notes:before{content:'\0065';}
.icon-onlife_notification:before{content:'\0066';}
.icon-onlife_photo:before{content:'\0067';}
.icon-onlife_physical_activity:before{content:'\0068';}
.icon-onlife_plus:before{content:'\0069';}
.icon-onlife_points:before{content:'\006a';}
.icon-onlife_quit_tobacco:before{content:'\006b';}
.icon-onlife_reports:before{content:'\006c';}
.icon-onlife_resources:before{content:'\006d';}
.icon-onlife_right_arrow:before{content:'\006e';}
.icon-onlife_rounded_coach:before{content:'\006f';}
.icon-onlife_rounded_notepad:before{content:'\0070';}
.icon-onlife_rounded_notes:before{content:'\0071';}
.icon-onlife_search:before{content:'\0072';}
.icon-onlife_smoker:before{content:'\0073';}
.icon-onlife_tick_mark:before{content:'\0074';}
.icon-onlife_tracker:before{content:'\0075';}
.icon-onlife_trackers:before{content:'\0076';}
.icon-onlife_walk:before{content:'\0077';}
.icon-onlife_water:before{content:'\0078';}
.icon-onlife_weight:before{content:'\0079';}
.icon-onlife_active:before{content:'\007a';}
.icon-onlife_bp:before{content:'\0030';}
.icon-onlife_calorie:before{content:'\0031';}
.icon-onlife_challenge:before{content:'\0032';}
.icon-onlife_chat:before{content:'\0033';}
.icon-onlife_cholesterol:before{content:'\0034';}
.icon-onlife_close:before{content:'\0035';}
.icon-onlife_coach:before{content:'\0036';}
.icon-onlife_courses:before{content:'\0037';}
.icon-Onlife_Minutes:before{content:'\0038';}
.icon-Onlife_Sleep:before{content:'\0039';}

/* RESETS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-weight: 600;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: $portal_font;
    font-size: $base_font_size;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, 
blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:focus {
    outline: 0;
}
input[type="file"]:focus, 
input[type="radio"]:focus, 
input[type="checkbox"]:focus {
	outline: 0;
}