
//Fonts
$portal_font: Helvetica Neue;
$base_font_size: 14px;

//Colors
$white: #FFFFFF;
$black: #000000;

$orange: #e85424;
$light_orange: #e88362;

$purple: #682566;
$light_purple: #824180;

$dark_blue: #00528a;
$light_blue: #0cc0de;

$magenta: #b01f58;
$light_magenta: #bd4273;

$green: #215e39;
$light_green: #4f966b;
$light_white: #f5f5f5;

$red: #b71234;
$yellow: #ffd500;
$blue: #0046ad;
$green_color: #009b48;

//colors buttons
$color_matisse_approx: #1e5799;
$color_curious_blue_approx: #2989d8;
$color_mariner_approx: #207cca;
$color_jordy_blue_approx: #7db9e8;
$color_oyster_pink_approx: #efc5ca;
$color_chestnut_rose_approx: #d24b5a;
$color_cardinal_approx: #ba2737;
$color_sea_pink_approx: #f18e99;
$color_apricot_peach_approx: #feccb1;
$color_crusta_approx: #f17432;
$color_trinidad_approx: #ea5507;
$color_tan_hide_approx: #fb955e;
$color_celery_approx: #bfd255;
$color_sushi_approx: #8eb92a;
$color_limeade_approx: #72aa00;
$color_atlantis_approx: #9ecb2d;
$color_sail_approx: #b8e1fc;
$color_regent_st_blue_approx: #a9d2f3;
$color_cornflower_blue_approx: #6ba8e5;
$color_blizzard_blue_approx: #a2daf5;
$color_french_pass_approx: #bdf3fd;


//Gray
$dark_gray: #444444;
$light_gray: #aaaaaa;
$medium_gray: #666666;
$very_light_gray: #CCCCCC;
$light_gray_border: #ececec;
$dark_gray_menu: #5a5a5a;
$light_gray_bg: #d8d8d8;
$container_bg: #f0f0f0;

$red_border: #d89ca8;
$green_border: #bad7ab; 
$yellow_border: #fcd79f;
$blue_border: #8ccaec;

$font_path: /styles/core/fonts;
$image_path: /assets/images;

$secondary_color: #50004d;


//Buttons Configuration 
$btn-name: 'button' !default;
$btn-hover: lighten 10% !default;
$btn-border:  darken 10% !default; // Set to false for no border
$btn-size-ratio: 1.2 !default;


$btn-schemes: (
  'default'   : #682566,
  'success'   : #468847,
  'danger'    : #b94a48,
  'warning'   : #e85424,
  'info'      : #3a87ad,
  'gray'      : #bebfbe,
) !default;
