<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>LiveOn Redesign</title>

    <meta name="description" content="">

    <!-- Latest compiled and minified CSS -->
    <link href="../../assets/vendors/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../../assets/vendors/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Only Dashboard -->
    <link href="css/styles.css" rel="stylesheet" />

    <!-- Optional theme -->
    <link href="../../assets/vendors/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />

</head>

<body class="cbp-spmenu-push" data-ng-app="olh-liveon-dashboard">

    <div class="layout-wrapper" data-ng-controller="DashboardController as dashboardCtrl">

        <header class="header">
            <div class="row">
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="hamburger" id="showMenus">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="col-xs-9 trim-left">
                            <div class="logo">
                                <a href="../dashboard">
                                    <img src="../../assets/images/Onlife_HealthTrust.png"
                                         alt="HealthTrust logo"
                                         class="img-responsive" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <ul class="top-nav">
                        <li>
                            <a href="../connect-device" class="top-nav-icon">
                                <span class="icon-onlife_devices"></span>
                            </a>
                        </li>
                        <li>
                            <a href="../family-friends" class="top-nav-icon">
                                <span class="icon-onlife_friends"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="top-nav-icon">
                                <span class="icon-onlife_messages"></span>
                                <span class="notification-count">1</span>
                            </a>
                        </li>
                        <li class="login-candet">
                            <a class="dropdown-toggle user-login" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="../../assets/images/Onlife_Mary_Dp.png" alt="" class="img-responsive" />
                            </a>
                            <div class="dropdown-menu">
                                <ul>
                                    <li>
                                        <a class="dropdown-item" href="../dashboard">First Login</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="../second-login">Completed HA</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Log out</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </header>
        <!-- Navigation Starts -->
        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
            <ul>
                <li>
                    <a href="../view-profile">
                        <span class="menu-icon ico-onlife_avatar"></span>
                        <span class="menu-label">My Profile</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-icon icon-onlife_points"></span>
                        <span class="menu-label">My Points</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-icon icon-onlife_devices"></span>
                        <span class="menu-label">Devices</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-icon icon-onlife_goals"></span>
                        <span class="menu-label">Goals</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-icon icon-onlife_courses"></span>
                        <span class="menu-label">Courses</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-icon icon-onlife_trackers"></span>
                        <span class="menu-label">Trackers</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-icon icon-onlife_financial"></span>
                        <span class="menu-label">Financial</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-icon icon-onlife_reports"></span>
                        <span class="menu-label">Reports</span>
                    </a>
                </li>
            </ul>
        </nav><!-- Navigation Ends -->
        <section class="content-area white-bg">
            <div class="col-sm-2">
                <div class="health-steps">
                    My Journey Overview
                </div>
            </div>
            <div class="col-sm-8">
                <section class="slider slide-display">
                    <div class="flexslider carousel">
                        <ul class="slides">
                            <li class="item-list">
                                <div class="row">
                                    <div class="col-xs-4 text-center small-pop">
                                        <span class="indicate mandatory icon-onlife_rounded_notepad">
                                            <i class="fa fa-asterisk mandate-icon"
                                               title="Required Action"
                                               aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <div class="col-xs-8">
                                        <div class="label-details">
                                            <h3>Assess Your Health</h3>
                                            <p>Complete by 04/21/2017</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item-list">
                                <div class="row">
                                    <div class="col-xs-4 text-center">
                                        <span class="indicate mandatory icon-onlife_rounded_notes">
                                            <i class="fa fa-asterisk mandate-icon" 
                                               title="Required Action" 
                                               aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <div class="col-xs-8">
                                        <div class="label-details">
                                            <h3>Biometric Screening</h3>
                                            <p>Complete by 05/21/2017</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item-list">
                                <div class="row">
                                    <div class="col-xs-4 text-center">
                                        <span class="indicate icon-onlife_rounded_coach"></span>
                                    </div>
                                    <div class="col-xs-8">
                                        <div class="label-details">
                                            <h3>Contact Coach</h3>
                                            <p>Complete by 04/25/2017</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item-list">
                                <div class="row">
                                    <div class="col-xs-4 text-center">
                                        <span class="indicate icon-onlife_rounded_app"></span>
                                    </div>
                                    <div class="col-xs-8">
                                        <div class="label-details">
                                            <h3>Download App</h3>
                                            <p>Complete by 04/30/2017</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item-list">
                                <div class="row">
                                    <div class="col-xs-4 text-center">
                                        <span class="indicate icon-onlife_challenge"></span>
                                    </div>
                                    <div class="col-xs-8">
                                        <div class="label-details">
                                            <h3>Start a Challenge</h3>
                                            <p>Complete by 05/10/2017</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item-list">
                                <div class="row">
                                    <div class="col-xs-4 text-center">
                                        <span class="indicate icon-onlife_rounded_invite"></span>
                                    </div>
                                    <div class="col-xs-8">
                                        <div class="label-details">
                                            <h3>Invite Friends</h3>
                                            <p>Complete by 05/20/2017</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="col-sm-2">
                <div class="row">
                    <div class="col-xs-5 bottom-right">
                        <div class="points-count text-center pull-right">
                            <a href="../point-matrix" class="value">0</a>
                            <div class="label-txt">Points</div>
                        </div>
                    </div>
                    <div class="col-xs-7 trim-left">
                        <div class="points-count text-center">
                            <a href="../point-matrix" class="value">2000</a>
                            <div class="label-txt">Possible</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </section>
        <!-- Tiles Area -->
        <section class="tiles-area">
            <div class="tiles-screen">
                <div class="row">
                    <div class="col-sm-9">
                        <figure class="view view-first most-big-box">
                            <img src="../../assets/images/tiles/Onlife_Health_Assessment.jpg" alt="Health Assessment" class="img-responsive" />
                            <div class="ha-wrapper">
                                <div class="description">
                                    <div class="col-sm-9 text-center">
                                        <span class="tile-icon icon-onlife_notepad"></span>
                                        <h2>Complete Your Health Assessment Today 
                                        <i class="fa fa-info-circle health-assessment" 
                                           aria-hidden="true" 
                                           data-toggle="popover"></i></h2>
                                    </div>
                                    <div class="col-sm-3 text-center">
                                        <a href="javascript:void(0)" 
                                           data-toggle="modal" 
                                           data-target="#haModel" 
                                           class="button button--large button--block text-center button--default button-go">Go</a>
                                        <br />
                                        <br />
                                        <button class="button button--small button--secondary remind-later">Not Now</button>
                                    </div>
                                </div>
                            </div>
                            <div class="due-date">
                                <div>
                                    <span class="text-bold">Action Required</span>
                                    <br />
                                    Due Date: 21st April
                                </div>
                            </div>

                            <div class="next-recommendation second none">
                                <div class="health-assess-info remind-wrapper">
                                    <h3 class="header-tile">Remind Me</h3>
                                    <div class="col-sm-7 col-sm-offset-5 mt-40">
                                        <div class="radio radio-primary" 
                                             data-ng-repeat="option in dashboardCtrl.remindMeOptions">
                                            <input type="radio"
                                                   id="{{option.id}}"
                                                   name="remindMe"
                                                   data-ng-value="option"
                                                   data-ng-model="dashboardCtrl.selectedRemindMeOption">
                                            <label for="{{option.id}}">{{option.label}}</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-7 col-sm-offset-5">
                                        <div>
                                            <label class="control-label remind-ques">By the way, do you smoke ?</label>
                                        </div>
                                        <div class="single-break"></div>

                                        <div class="radio radio-primary radio-inline"
                                             data-ng-repeat="option in dashboardCtrl.yesNoOptions">
                                            <input type="radio" id="{{option.id}}"
                                                   data-ng-value="option"
                                                   name="smoking">
                                            <label for="{{option.id}}">{{option.label}}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="description">
                                    <div class="row">
                                        <div class="col-sm-12 button-wrapper">
                                            <button class="button button--small button--default remind-not-now">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="next-recommendation third none">
                                <div class="health-assess-info">
                                    <h3 class="header-tile">Did you know?</h3>
                                    <div class="col-sm-6">
                                        <div class="form-group text-center slide-display">
                                            <span class="indicate icon-onlife_devices"></span>
                                            <h3 class="connect-device">Connect Device(s)</h3>
                                        </div>
                                        <p>
                                            You can connect your wearable devices to our system and we will provide you with insights and recommendations on your daily activities.
                                        </p>
                                        <div class="form-group text-center">
                                            <a href="../connect-device" class="button button--default">Connect</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group text-center slide-display">
                                            <span class="indicate icon-onlife_mobile"></span>
                                            <h3 class="connect-device">Consult with a Coach</h3>
                                        </div>
                                        <p>
                                            Your personal health coach is just a call away. Reach out now and find out how you and your coach can create a plan for your journey to a healthier and happier you. 
                                        </p>
                                        <div class="form-group text-center">
                                            <button class="button button--default consult-btn">Consult</button>
                                        </div>
                                        <div class="row none ways-contact">
                                            <div class="col-sm-4 col-sm-offset-2 small-pop text-center">
                                                <a href="#">
                                                    <i class="ico-onlife_phone_receiver connect-coach call-coach"
                                                       aria-hidden="true"
                                                       data-toggle="popover"></i>
                                                </a>
                                            </div>
                                            <div class="call-a-coach none">
                                                1-877-709-0201 <br />(Mon-Fri 7AM to 9PM CST)
                                            </div>
                                            <div class="col-sm-4 small-pop text-center">
                                                <a href="javascript:void(0);" class="chat-box-btn">
                                                    <i class="icon-onlife_chat connect-coach"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="description">
                                    <div class="row">
                                        <div class="col-sm-12 button-wrapper">
                                            <span class="left">
                                                <button class="button button--small button--secondary device-not-now"
                                                        role="button">
                                                    Not Now
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="next-recommendation forth none">
                                <div class="health-assess-info">
                                    <h3 class="header-tile">Have you tried our mobile app?</h3>
                                    <div class="col-sm-12">
                                        <p>
                                            Go mobile with your wellness journey! Download AlwaysOn® for your Apple or Android device and be on your way to a healthy and happy life all on your portable device.
                                        </p>
                                    </div>
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <div class="form-group">
                                            <a href="https://itunes.apple.com/us/app/alwayson-wellness/id927685764?mt=8" target="_blank">
                                                <img src="../../assets/images/tiles/app_store.png" alt="" class="img-responsive app-store mt-15" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <a href="https://play.google.com/store/apps/details?id=com.onlife.alwayson&hl=en" target="_blank">
                                                <img src="../../assets/images/tiles/google_play.png" alt="" class="img-responsive app-store mt-15" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-sm-offset-5 text-center">
                                        <img src="../../assets/images/tiles/Onlife_QR_Code.jpg" class="img-responsive qa-code" alt="QR Code" />
                                    </div>
                                    <div class="col-sm-12 text-center">
                                        <p>Scan QR code to download the App</p>
                                    </div>
                                </div>
                                <div class="description">
                                    <div class="row">
                                        <div class="col-xs-12 button-wrapper">
                                            <span class="left">
                                                <button class="button button--small button--secondary app-btn">Not Now</button>
                                                <button class="button button--small button--secondary more-info-app">Tell me more</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="next-recommendation fifth none">
                                <img src="../../assets/images/tiles/Onlife_Challenges.jpg"
                                     alt="Start Challenge"
                                     class="img-responsive recommend-image">
                                <div class="overlay-img"></div>
                                <div class="health-assess-info">
                                    <h3 class="header-tile">Challenge Yourself to be the best version of YOU!</h3>
                                    <div class="col-sm-12 text-center">
                                        <i class="icon-onlife_challenge ha-icon"></i>
                                        <p>
                                            Join one of our Challenge programs today. Earn points and see how far you can climb the leader board or create your own and challenge your Friends and Family. 
                                        </p>
                                    </div>
                                </div>
                                <div class="description">
                                    <div class="row">
                                        <div class="col-xs-12 button-wrapper">
                                            <span class="left">
                                                <button class="button button--small button--secondary cp-btn">Not Now</button>
                                                <button class="button button--small button--secondary more-info-challenge">Tell me more</button>
                                            </span>
                                            <a role="button" href="../challenges" class="button button--large text-center button--default">Join</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="next-recommendation sixth none">
                                <div class="health-assess-info">
                                    <h3 class="header-tile">Recommendation</h3>
                                    <div class="col-sm-12">
                                        <p>
                                            We encourage you to complete your Health Assesment as soon as possible. The information you provide personalizes your journey with focused content on the areas you want to work on.
                                        </p>
                                    </div>
                                </div>
                                <div class="description">
                                    <div class="row">
                                        <div class="col-xs-12 button-wrapper">
                                            <span class="left">
                                                <button class="button button--small button--secondary recommend-btn">OK</button>
                                                <button class="button button--small button--secondary more-info">Talk to a coach</button>
                                            </span>
                                            <button class="button button--large text-center button--default lets-go">Articles</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="next-recommendation seventh none">
                                <div class="health-assess-info">
                                    <h3 class="header-tile">AlwaysOn&reg; Wellness</h3>
                                    <div class="col-sm-12">
                                        <p>
                                            With AlwaysOn&reg; you can check your challenge status, update your trackers and see the fitness data we gather from all of your connected devices. Check in with Friends and Family no matter where you are. Scan the QR Code below to get to your app store and get started on the go!  AlwaysOn is available for Android and iOS.
                                        </p>
                                    </div>
                                </div>
                                <div class="description">
                                    <div class="row">
                                        <div class="col-xs-12 button-wrapper">
                                            <span class="left">
                                                <button class="button button--small button--secondary back-to-app">Back</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="next-recommendation eigth none">
                                <div class="health-assess-info">
                                    <h3 class="header-tile">Challenge Yourself!</h3>
                                    <div class="col-sm-12">
                                        <p>
                                            We offer a number of fun and exciting challenges to keep you working toward your wellness goals. Challenge yourself or invite friends to join. A little healthy competition can help push you to perform better than ever.
                                        </p>
                                    </div>
                                </div>
                                <div class="description">
                                    <div class="row">
                                        <div class="col-xs-12 button-wrapper">
                                            <span class="left">
                                                <button class="button button--small button--secondary back-to-challenges">Back</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a href="../point-matrix" class="points-btm">
                                100 <span class="pts-lbl">pts</span>
                            </a>
                        </figure>
                    </div>
                    <div class="col-sm-3">
                        <figure class="view view-first view-third-box">
                            <img src="../../assets/images/tiles/Onlife_Connect_App.jpg" alt="Connect App" class="img-responsive" />
                            <div class="description">
                                <div class="col-sm-12 text-center">
                                    <span class="tile-icon icon-onlife_mobile"></span>
                                </div>
                                <h2>Download AlwaysOn&reg; mobile app</h2>
                            </div>
                            <div class="mask">
                                <p>With AlwaysOn&reg; you can check your challenge status, update your trackers and see the fitness... </p>
                                <br />
                                <a href="#" class="button button--large button--default">Download</a>
                            </div>
                            <a href="../point-matrix" class="points-btm">
                                100 <span class="pts-lbl">pts</span>
                            </a>
                        </figure>
                    </div>
                    <div class="col-sm-3">
                        <figure class="view view-first view-third-box">
                            <img src="../../assets/images/tiles/Onlife_Mary_Friends.jpg" alt="Mary Friends" class="img-responsive" />
                            <div class="description">
                                <div class="col-sm-12 text-center">
                                    <span class="tile-icon icon-onlife_friends"></span>
                                </div>
                                <h2>Invite Friends</h2>
                            </div>
                            <div class="mask">
                                <p>Expand your connection by bringing your family & friends  </p>
                                <br />
                                <a href="#" class="button button--large button--default">Invite</a>
                            </div>
                            <a href="../point-matrix" class="points-btm">
                                50 <span class="pts-lbl">pts</span>
                            </a>
                        </figure>
                        <!--<article class="article">
                            <p>Expand your connection by bringing your family & friends. Your own fans will recommend you, what guarantees new fans better quality. </p>
                        </article>-->
                    </div>
                </div>

            </div>
        </section>

        <footer class="footer">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1 border-right">
                    <h3>We're Here to Help</h3>
                    <p class="contact-text">Contact Us</p>
                    <p class="contact-number">877-709-0201</p>
                </div>
                <div class="col-sm-6">
                    <nav class="footer-nav">
                        <ul>
                            <li><a href="">Dashboard</a></li>
                            <li><a href="">Trackers</a></li>
                            <li><a href="">MyHealth</a></li>
                            <li><a href="">Certificates</a></li>
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">Terms of Service</a></li>
                        </ul>
                    </nav>
                    <div class="copyrights">
                        <p>&copy; 2017 Onlife Health, Inc. All rights reserved.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="secondary-logo">
                        <img src="../../assets/images/Onlife_HealthTrust_Secondary_200x75.png" alt="Secondary Logo" class="img-responsive" />
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <!-- HA Modal -->
    <div class="modal fade ha-model" id="haModel" tabindex="-1" role="dialog" aria-labelledby="haModelLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="haModelLabel">Health Assessment</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <ol>
                                <li>
                                    <div class="form-group">
                                        <label class="control-label ques">Considering your age, how would you describe your overall physical health?</label>
                                        <div class="radio radio-primary ans">
                                            <input type="radio" id="excellent" name="rating" value="">
                                            <label for="excellent">Excellent</label>
                                        </div>
                                        <div class="radio radio-primary ans">
                                            <input type="radio" id="good" name="rating" value="">
                                            <label for="good">Good</label>
                                        </div>
                                        <div class="radio radio-primary ans">
                                            <input type="radio" id="fair" name="rating" value="">
                                            <label for="fair">Fair</label>
                                        </div>
                                        <div class="radio radio-primary ans">
                                            <input type="radio" id="poor" name="rating" value="">
                                            <label for="poor">Poor</label>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="control-label ques">How would you describe your eating habits?</label>
                                        <div class="radio radio-primary ans">
                                            <input type="radio" id="healthy" name="eating" value="">
                                            <label for="healthy">Healthy and well-balanced</label>
                                        </div>
                                        <div class="radio radio-primary ans">
                                            <input type="radio" id="improvement" name="eating" value="">
                                            <label for="improvement">Need some improvement</label>
                                        </div>
                                        <div class="radio radio-primary ans">
                                            <input type="radio" id="lotImprove" name="eating" value="">
                                            <label for="lotImprove">Need lots of improvement</label>
                                        </div>
                                        <div class="radio radio-primary ans">
                                            <input type="radio" id="notSure" name="eating" value="">
                                            <label for="notSure">Not sure </label>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="control-label ques">How would you describe your cigarette smoking habits?</label>
                                        <div class="radio radio-primary ans">
                                            <input type="radio" id="neverSmoked" name="smoking" value="">
                                            <label for="neverSmoked">Never smoked</label>
                                        </div>
                                        <div class="radio radio-primary ans">
                                            <input type="radio" id="usedSmoke" name="smoking" value="">
                                            <label for="usedSmoke">Used to smoke</label>
                                        </div>
                                        <div class="radio radio-primary ans">
                                            <input type="radio" id="stillSmoke" name="smoking" value="">
                                            <label for="stillSmoke">Still smoke now</label>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="control-label ques">Moderate Activities</label>
                                        <p>Outside of your job, how much time do you spend in a typical week participating in moderate activities that raise your heart rate for at least 10 minutes and make you break a sweat, but still allow you to carry on a conversation?</p>
                                        <form class="form-inline">
                                            <div class="form-group">
                                                <label for="moderateHours">Hours:</label>
                                                <input type="number" class="form-control" id="moderateHours">
                                            </div>
                                            <div class="form-group">
                                                <label for="moderateMinutes">Minutes:</label>
                                                <input type="number" class="form-control" id="moderateMinutes">
                                            </div>
                                        </form>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="control-label ques">Vigorous Activities</label>
                                        <p>Outside of your job, how much time do you spend in a typical week participating in vigorous activities that cause rapid breathing and a substantial increase in your heart rate?</p>
                                        <form class="form-inline">
                                            <div class="form-group">
                                                <label for="vigorousHours">Hours:</label>
                                                <input type="number" class="form-control" id="vigorousHours">
                                            </div>
                                            <div class="form-group">
                                                <label for="vigorousMinutes">Minutes:</label>
                                                <input type="number" class="form-control" id="vigorousMinutes">
                                            </div>
                                        </form>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="control-label ques">In the past year, how much effect has stress had on your life?</label>
                                        <div class="radio radio-primary ans">
                                            <input type="radio" id="barely" name="stressLife" value="">
                                            <label for="barely">Barely any or none</label>
                                        </div>
                                        <div class="radio radio-primary ans">
                                            <input type="radio" id="aLittle" name="stressLife" value="">
                                            <label for="aLittle">A little bit</label>
                                        </div>
                                        <div class="radio radio-primary ans">
                                            <input type="radio" id="someStress" name="stressLife" value="">
                                            <label for="someStress">Some</label>
                                        </div>
                                        <div class="radio radio-primary ans">
                                            <input type="radio" id="quiteBit" name="stressLife" value="">
                                            <label for="quiteBit">Quite a bit</label>
                                        </div>
                                        <div class="radio radio-primary ans">
                                            <input type="radio" id="aLot" name="stressLife" value="">
                                            <label for="aLot">A lot</label>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="control-label ques">What is your height without shoes?</label>
                                        <form class="form-inline">
                                            <div class="form-group">
                                                <label for="feetHeight">Feet:</label>
                                                <input type="number" class="form-control" id="feetHeight">
                                            </div>
                                            <div class="form-group">
                                                <label for="feetInch">Inches:</label>
                                                <input type="number" class="form-control" id="feetInch">
                                            </div>
                                        </form>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="control-label ques">What is your weight (without clothes)?</label>
                                        <form class="form-inline">
                                            <div class="form-group">
                                                <label for="weightNumber">Pounds:</label>
                                                <input type="number" class="form-control" id="weightNumber">
                                            </div>
                                        </form>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="control-label ques">What is your blood pressure?</label>
                                        <form class="form-inline">
                                            <div class="form-group">
                                                <label for="weightNumber">Systolic BP:</label>
                                                <input type="number" class="form-control" id="weightNumber">
                                            </div>
                                            <div class="form-group">
                                                <label for="weightNumber">Diastolic BP:</label>
                                                <input type="number" class="form-control" id="weightNumber">
                                            </div>
                                            <div class="form-group">
                                                <div class="radio radio-primary trim-left">
                                                    <input type="radio" id="dontKnowBP" name="stressLife" value="">
                                                    <label for="dontKnowBP">I don't know the numbers</label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="control-label ques">What is your TOTAL cholesterol?</label>
                                        <form class="form-inline">
                                            <div class="form-group">
                                                <label for="totalCholesterol">Total cholesterol:</label>
                                                <input type="number" class="form-control" id="totalCholesterol">
                                            </div>
                                            <div class="form-group">
                                                <div class="radio radio-primary trim-left">
                                                    <input type="radio" id="dontKnowCholesterol" name="cholesterol" value="">
                                                    <label for="dontKnowCholesterol">I don't know the number</label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                            </ol>
                            
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-4">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <a role="button" href="#" class="button button--large button--secondary" data-dismiss="modal">Close</a>
                        <a role="button" href="../snapshot-report" class="button button--large text-center button--default">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Schedule Appointment -->
    <div class="modal fade" id="schedule-appointment" tabindex="-1" role="dialog" aria-labelledby="scheduleAppointmentLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Schedule Appointment</h4>
                </div>
                <div class="modal-body">

                    <div class="col-sm-6">
                        <div class="schedule-box">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="schedule-header text-center">
                                        Wayne (Free), Mary (Free)
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="schedule-content">
                                        <p><span class="days">Tomorrow</span><span class="time">11.00 a.m</span></p>
                                        <button class="button button--block button--small button--white">Schedule</button>
                                    </div>
                                    <div class="schedule-content">
                                        <p><span class="days">Tomorrow</span><span class="time">3:00 p.m </span></p>
                                        <button class="button button--block button--small button--white">Schedule</button>
                                    </div>
                                    <div class="schedule-content">
                                        <p><span class="days">Day After</span><span class="time">2:00 p.m</span></p>
                                        <button class="button button--block button--small button--white">Schedule</button>
                                    </div>
                                    <div class="schedule-content">
                                        <p><span class="days">Thursday</span><span class="time">11.00 a.m</span></p>
                                        <button class="button button--block button--small button--white">Schedule</button>
                                    </div>
                                    <div class="schedule-content">
                                        <p><span class="days">Friday</span><span class="time">9.00 a.m</span></p>
                                        <button class="button button--block button--small button--white">Schedule</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="schedule-box">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="schedule-header second-app text-center">
                                        Wayne (Free), Mary (Tentative)
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="schedule-content">
                                        <p><span class="days">Tomorrow</span><span class="time">11.30 a.m</span></p>
                                        <button class="button button--block button--small button--white">Schedule</button>
                                    </div>
                                    <div class="schedule-content">
                                        <p><span class="days">Day After</span><span class="time">9.30 a.m</span></p>
                                        <button class="button button--block button--small button--white">Schedule</button>
                                    </div>
                                    <div class="schedule-content">
                                        <p><span class="days">Thursday</span><span class="time">2.00 p.m</span></p>
                                        <button class="button button--block button--small button--white">Schedule</button>
                                    </div>
                                    <div class="schedule-content">
                                        <p><span class="days">Friday</span><span class="time">10.00 a.m</span></p>
                                        <button class="button button--block button--small button--white">Schedule</button>
                                    </div>
                                    <div class="schedule-content">
                                        <p><span class="days">Friday</span><span class="time">10.30 a.m</span></p>
                                        <button class="button button--block button--small button--white">Schedule</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-ha none">
        <div class="health-assess-info">
            <h3 class="pop-heading">Complete your Health Assessment today and discover how small actions can add years to your life!</h3>
            <h4 class="question">What is Health Assessment (HA)?</h4>
            <p class="answer">It is a comprehensive questionnaire that aims to capture specifics of various aspects of your health such as your BMI, physical activity, tobacco status, lifestyle and diet, social and emotional health and your medical history.</p>
            <h4 class="question">Why should I take the Health Assessment?</h4>
            <p class="answer">The answers you provide in the HA helps us gain insight into each aspect of your health. We use this information to identify personalized recommendations for your well-being. You will get 100 points for this activity.</p>
            <h4 class="question">How long will this take?</h4>
            <p class="answer">This would take no more than 15 minutes of your time.</p>
        </div>
    </div>
    <div class="loading-overlay">
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
    </div>

    <div class="chat-window">
        <div class="chat-header">
            Coach Wayne 
            <span class="pull-right">
                <i class="icon-onlife_close close-chat"></i>
            </span>
        </div>
        <div class="chat-discussion">
            <div class="chat-message left">
                <img class="message-avatar" src="../../assets/images/Onlife_coach_wayne.jpg" alt="">
                <div class="message">
                    <a class="message-author" href="#"> Coach Wayne </a>
                    <span class="message-date"> 04/07/2017 - 18:39:23 </span>
                    <span class="message-content">
                        Hi Mary!<br />
                        I am Wayne Smith, your personal health coach.
                    </span>
                </div>
            </div>
            <div class="chat-message right">
                <img class="message-avatar" src="../../assets/images/Onlife_Mary_Dp.png" alt="">
                <div class="message">
                    <a class="message-author" href="#"> Mary </a>
                    <span class="message-date">  04/07/2017 - 19:12:36 </span>
                    <span class="message-content">
                        Hello Wayne
                    </span>
                </div>
            </div>
        </div>
        <div class="chat-send">
            <div class="col-sm-12">
                <div class="input-group">
                    <input id="btn-input" type="text" class="form-control input-sm chat_input" placeholder="Write your message here...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-sm" id="btn-chat">Send</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery Version -->
    <script src="../../assets/js/jquery-1.11.3.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="../../js/vendor/bootstrap/bootstrap.js"></script>
    <script src="../../js/vendor/angular/angular.min.js"></script>
    <script src="../../assets/js/modernizr.custom.js"></script>
    <script src="../../assets/js/classie.js"></script>
    <script src="../../assets/js/jquery.flexslider.js"></script>
    <script src="js/dashboard.js"></script>
    <script src="../../js/scripts.js"></script>

    <script src="js/app.js"></script>
    <script src="js/dashboard.controller.js"></script>
    <script src="js/dashboard.service.js"></script>
   
</body>
</html>
