<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>LiveOn Redesign</title>

    <meta name="description" content="">

    <!-- Latest compiled and minified CSS -->
    <link href="../../assets/vendors/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../../assets/vendors/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Only Dashboard -->
    <link href="css/styles.css" rel="stylesheet" />

    <!-- Optional theme -->
    <link href="../../assets/vendors/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="../../js/vendor/notification/modernizr.custom.js"></script>

</head>

<body class="cbp-spmenu-push">

    <div class="layout-wrapper">

        <header class="header">
            <div class="row">
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="hamburger" id="showMenus">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="col-xs-9">
                            <div class="logo">
                                <img src="../../assets/images/onlife-logo.png" alt="onlife logo" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <ul class="top-nav">
                        <li>
                            <a href="../family-friends" class="top-nav-icon">
                                <span class="icon-onlife_friends"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="top-nav-icon">
                                <span class="icon-onlife_notification"></span>
                                <span class="notification-count">1</span>
                            </a>
                        </li>
                        <li class="login-candet">
                            <a class="dropdown-toggle user-login" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="../../assets/images/Onlife_Mary_Dp.png" alt="" class="img-responsive" />
                            </a>
                            <div class="dropdown-menu">
                                <ul>
                                    <li>
                                        <a class="dropdown-item" href="../view-profile">View Profile</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="../dashboard">First Login</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="../second-login">Completed HA</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Log out</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </header>
        <!-- Navigation Starts -->
        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
            <ul>
                <li>
                    <a href="#"><span class="menu-icon icon-onlife_points"></span> <span class="menu-label">My Points</span></a>
                </li>
                <li>
                    <a href="#"><span class="menu-icon icon-onlife_devices"></span> <span class="menu-label">Devices</span></a>
                </li>
                <li>
                    <a href="#"><span class="menu-icon icon-onlife_goals"></span> <span class="menu-label">Goals</span></a>
                </li>
                <li>
                    <a href="#"><span class="menu-icon icon-onlife_courses"></span> <span class="menu-label">Courses</span></a>
                </li>
                <li>
                    <a href="#"><span class="menu-icon icon-onlife_trackers"></span> <span class="menu-label">Trackers</span></a>
                </li>
                <li>
                    <a href="#"><span class="menu-icon icon-onlife_financial"></span> <span class="menu-label">Financial</span></a>
                </li>
                <li>
                    <a href="#"><span class="menu-icon icon-onlife_reports"></span> <span class="menu-label">Reports</span></a>
                </li>
            </ul>
        </nav><!-- Navigation Ends -->

        <section class="tiles-area white-bg">

            <div class="row">
                <div class="col-sm-12">
                    <div class="banner-area">
                        <img src="../../assets/images/banner/Onlife_Earn_Points_Banner.jpg" alt="" class="img-responsive" />
                    </div>
                    <div class="view-header">
                        <div class="container">
                            <h1 class="main-heading">Earn Points</h1>
                        </div>
                    </div>
                    <div class="content-area">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="points-wrapper">
                                        <h2 class="blue-header">How to Earn Points</h2>
                                        <p>
                                            Earn points for doing the right things! When you take actions that have been proven to
                                            have a positive impact on health, you’ll earn points.
                                            Then redeem rewards for gift cards or merchandise!
                                        </p>
                                        <div class="row mt-40">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <button class="button button--default button--block button--warning button--orange">Points History</button>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <button class="button button--default button--block button--warning button--orange">Redeem Points</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="tiles-area gray-bg">

            <div class="row">
                <div class="col-sm-12">
                    <div class="container">
                        <div class="panel-box blue-box">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="block-tile text-center">
                                        <i class="icon-onlife_fitness block-icon"></i>
                                        <h2>Fitness Program Enrollment</h2>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="points-section text-center">
                                                        <div class="point-value">
                                                            50
                                                        </div>
                                                        <div class="point-label text-center">
                                                            Points
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="values-month text-center text-uppercase">
                                                    <!-- Commented out all Points and cycles since they are unclear for demo -->
<!--                                                         <p>10/2000</p>
                                                        <p>1 Per Month</p> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="tile-content">
                                                <p>
                                                    When you enroll into the Fitness Program, you'll earn points!
                                                    For more information about program cost, fitness centers in
                                                    your area and a list of frequently asked questions click on the
                                                    Fitness Program link
                                                </p>
                                                <div class="text-right tile-footer">
                                                    <button class="button tile-button">More Info</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-box orange-box">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="block-tile text-center">
                                        <i class="icon-onlife_notepad block-icon"></i>
                                        <h2>Take Your Health Assessment</h2>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="points-section text-center">
                                                        <div class="point-value">
                                                            250
                                                        </div>
                                                        <div class="point-label text-center">
                                                            Points
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="values-month text-center text-uppercase">
               <!--                                          <p>10/2000</p>
                                                        <p>1 Per service Cycle</p> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="tile-content">
                                                <p>
                                                    Complete your Health Assessment to help you understand
                                                    your overall health including future health risks.
                                                </p>
                                                <div class="text-right tile-footer">
                                                    <button class="button tile-button">More Info</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-box green-box">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="block-tile text-center">
                                        <i class="icon-onlife_notepad block-icon"></i>
                                        <h2>Complete Milestone Assessment</h2>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="points-section text-center">
                                                        <div class="point-value">
                                                            50
                                                        </div>
                                                        <div class="point-label text-center">
                                                            Points
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="values-month text-center text-uppercase">
      <!--                                                   <p>10/2000</p>
                                                        <p>1 Per Month</p> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="tile-content">
                                                <p>
                                                    You have the option to earn additional Points by completing a
                                                    milestone assessment. You can access an assessment
                                                    through the progress check-in module on the dashboard.
                                                    Milestone Assessments are available to complete at any time.
                                                </p>
                                                <div class="text-right tile-footer">
                                                    <button class="button tile-button">More Info</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-box purple-box">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="block-tile text-center">
                                        <i class="icon-onlife_trackers block-icon"></i>
                                        <h2>Track Your Progress</h2>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="points-section text-center">
                                                        <div class="point-value">
                                                            10
                                                        </div>
                                                        <div class="point-label text-center">
                                                            Points
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="values-month text-center text-uppercase">
<!--                                                         <p>10/2000</p>
                                                        <p>1 Per Month</p> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="tile-content">
                                                <p>
                                                    It can be rewarding and beneficial to view your improvements.
                                                    Tracking your progress can help you stay on track with your
                                                    wellness goals.
                                                </p>
                                                <div class="text-right tile-footer">
                                                    <button class="button tile-button">More Info</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-box magenta-box">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="block-tile text-center">
                                        <i class="icon-onlife_courses block-icon"></i>
                                        <h2>Complete Self-Directed Course</h2>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="points-section text-center">
                                                        <div class="point-value">
                                                            50
                                                        </div>
                                                        <div class="point-label text-center">
                                                            Points
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="values-month text-center text-uppercase">
<!--                                                         <p>10/2000</p>
                                                        <p>1 Per QTR</p> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="tile-content">
                                                <p>
                                                    Complete any one of the self-directed courses to earn points.
                                                    You will receive Points quarterly up to your maximum limit.
                                                </p>
                                                <div class="form-group text-right tile-footer">
                                                    <button class="button tile-button">More Info</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-box blue-box">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="block-tile text-center">
                                        <i class="icon-onlife_fitness_dumbell block-icon"></i>
                                        <h2>Fitness Center Use: Visit 1</h2>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="points-section text-center">
                                                        <div class="point-value">
                                                            25
                                                        </div>
                                                        <div class="point-label text-center">
                                                            Points
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="values-month text-center text-uppercase">
<!--                                                         <p>10/2000</p>
                                                        <p>1 Per Month</p> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="tile-content">
                                                <p>
                                                    You will earn Life Points for your second visit each week at a
                                                    Fitness Program network fitness center.
                                                </p>
                                                <div class="form-group text-right tile-footer">
                                                    <button class="button tile-button">More Info</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-box magenta-box">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="block-tile text-center">
                                        <i class="icon-onlife_mobile block-icon"></i>
                                        <h2>Connect a Fitness Device or App</h2>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="points-section text-center">
                                                        <div class="point-value">
                                                            100
                                                        </div>
                                                        <div class="point-label text-center">
                                                            Points
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="values-month text-center text-uppercase">
<!--                                                         <p>10/2000</p>
                                                        <p>1 Per QTR</p> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="tile-content">
                                                <p>
                                                    When you connect a fitness device or mobile application on
                                                    the "Manage Devices and Apps" section of the site, you'll
                                                    earn Life Points!
                                                </p>
                                                <div class="form-group text-right tile-footer">
                                                    <button class="button tile-button">More Info</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-box blue-box">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="block-tile text-center">
                                        <i class="icon-onlife_mobile block-icon"></i>
                                        <h2>Track Progress on the Go</h2>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="points-section text-center">
                                                        <div class="point-value">
                                                            5
                                                        </div>
                                                        <div class="point-label text-center">
                                                            Points
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="values-month text-center text-uppercase">
   <!--                                                      <p>10/2000</p>
                                                        <p>1 Per Month</p> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="tile-content">
                                                <p>
                                                    You can earn Life Points for using a fitness device or mobile
                                                    application to track the steps you take throughout the day!
                                                    First, connect your device or mobile app in the “Manage
                                                    Devices and Apps” section of the site.
                                                </p>
                                                <div class="form-group text-right tile-footer">
                                                    <button class="button tile-button">More Info</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>


        <footer class="footer">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1">
                    <h3>We're Here to Help</h3>
                    <p class="contact-text">Contact Us</p>
                    <p class="contact-number">1-800-123-4567</p>
                </div>
                <div class="col-sm-9">
                    <nav class="footer-nav">
                        <ul>
                            <li><a href="">Dashboard</a></li>
                            <li><a href="">Trackers</a></li>
                            <li><a href="">MyHealth</a></li>
                            <li><a href="">Certificates</a></li>
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">Terms of Service</a></li>
                        </ul>
                    </nav>
                    <div class="copyrights">
                        <p>&copy; 1998-2015 BlueCross BlueShield of Tennessee, Inc</p>
                        <p>An Independent Licensee of the BlueCross BlueShield Association</p>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <div style="overflow: hidden; opacity: 0; width: 0px; height:0px;"><img src="../../assets/images/Onlife_Tracy_User.jpg" /></div>

    <div class="loading-overlay">
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
    </div>

    <!-- Jquery Version -->
    <script src="../../assets/js/jquery-1.11.3.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="../../js/vendor/bootstrap/bootstrap.js"></script>
    <script src="../../assets/js/classie.js"></script>
    <script src="../../assets/js/jquery.flexslider.js"></script>
    <script src="../../js/vendor/notification/classie.js"></script>
    <script src="../../js/vendor/notification/notificationFx.js"></script>
    <script src="../../js/scripts.js"></script>
    
</body>
</html>
